@using SukkuShop.Models
@{
    ViewBag.Title = "Błąd";
}


<div class="product-error-big">Przepraszamy!</div>
<div class="product-error-normal">Nie znaleziono produktów spełniających Twoje kryterium.</div>

<div id="product-error"><a href="@Url.RouteUrl(new
                            {
                                controller = "Sklep",
                                action = "Produkty",
                                category = (string)null,
                                page = 1,
                                subcategory = (string)null,
                                method = SortMethod.Nowość
                            })">&laquo Wróć do sklepu &raquo</a></div>
