@{
    ViewBag.Title = "Błąd";
}

<div class="product-error-big">Przepraszamy!</div>
<div class="product-error-normal">Nie znaleziono produktów spełniających Twoje kryterium.</div>
<div id="product-error">
    <a href="@Url.Action(MVC.Sklep.Produkty(null))">&laquo Wróć do sklepu &raquo</a>
</div>