@model SukkuShop.Models.CartViewModels

@{
    ViewBag.Title = "Twój koszyk";
}

<ul>
    @foreach (var item in Model.CartProductsList)
    {
        <li>
            <h1 style="text-align: center">
                <div style="height: 100px;width: 100px"><img src=~/@("Content/Images/Shop/"+item.Image+".jpg") /></div>
                @item.Name | @item.Price | ilość:@item.Quantity |              @item.TotalValue
            </h1>

        </li>
    }
</ul>
<p style="text-align: center">
        @Model.TotalValue
</p>
 


