//colors
$orangeplz: #ff730c;
$color_tree_poppy_approx: #f89b1d;

//fonts
$font_0: Segoe UI;
$font_1: SegoeLight;
$font_2: SegoeBold;

        .validation-box{
            margin-top:20px;
            text-align: center;
            font-family: Segoe UI;
            color: red;
            float: left;
            position: relative;
            width: 280px;
            height: 3em;
 .bubble{
position: absolute;
display: table;
width:280px;
height:3em;
p{
display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}
}
        }





.details-container
{  
    width: 1066px;
    margin:auto;
    ul{
        &.choice
            {
            margin-top: 80px;
            padding-left:160px;
            text-align:center;
            height: 66px;
            text-transform:uppercase;
            color:$color_tree_poppy_approx;
            font-family: $font_0;
            font-size:24px;
            border-bottom: 1px solid $color_tree_poppy_approx;
            border-top: 1px solid $color_tree_poppy_approx;
            margin-bottom:60px;
            li {
                margin-right:160px;
                    margin-top:20px;
			        display: inline-block;
			        &.selected {
				            font-weight: bold;
			                  }
a{
 color:$color_tree_poppy_approx;
}
                }
            } 
       }
    .change-container{
    width: 480px;
    border: 2px solid $color_tree_poppy_approx;
    margin: 15px auto 200px;
    position:relative;
    .switch-box
    {       
        margin: 20px 0 auto;
    }
    .main-text
        {
        text-transform:uppercase;
        font-family:Segoe UI;
font-weight:bold;
        font-size: 16px;
        color: $orangeplz;
       }
    .data-container{
        margin: 30px 25px auto;
        width:438px;
        .data-box{
            width: 423px;
            height: 29px;
            font-family: SegoeLight;
            margin-top: 22px;
        .input-validation-error,input.error{
                            border: 1px solid red !important;
                        }
                        .field-validation-error,label.error{
                            margin-left:143px;
                            color:red;
                            font-weight:bold;
                            font-size:14px;
                            font-family:$font_1
                        }
    .field-validation-error{
        float: left;
        color: red;
        margin-left:145px;
        font-weight: bold;
        font-size: 14px;
        margin-top:2px;
    }
    input[type=text],input[type=password],input[type=email]{
        text-align: center;
        font-family: SegoeLight;
        width: 267px;
        border: 1px solid #cccccc;
        float: right;
        margin-right: 11px;
        margin-top: 6px;
        height: 27px;
        padding: 0;
    }
    input[type=text].mini{
        text-align:center;
        font-family:$font_0;
        width:118px;
        float:left;
        border:1px solid #cccccc;
        margin-right:11px;
        height:27px;
        padding:0
    }
    textarea{
        width:267px;
        max-width:267px;
        float:right;
        height:150px;
        max-height:150px;
        border:1px solid #cccccc;
        margin-right:11px;
        font-family:$font_0;
        padding:0;

    }
    .text{        
        font-size: 18px;
        margin-top:10px;
        vertical-align: bottom;
        float: left
    }
}
    }
    .save{
    float:right;
    margin-top: 20px;
    margin-left: 200px;
height: 3em;
line-height: 3em;
      .text {
            float:left;
	        font-size: 16px;
	        font-family: Segoe UI;

	        font-weight: bold;
	        text-transform: uppercase;
	        margin: 0;
	        color: $orangeplz;
            cursor: pointer;
            }
        }
         #triangle-right-big {
	        width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-left: 13px solid $orangeplz;
            border-bottom: 8px solid transparent;
            float: right;
            margin: 1em 25px 37px 10px;
            cursor:pointer;-moz-transform: scale(.9999);
        }
    }
}

input[type=radio].css-checkbox {
	display: none;
	+ label.css-label {
		padding-left: 23px;
		height: 18px;
		line-height: 20px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 14px;
		font-family: $font_0;
		float: left;
		vertical-align: middle;
		cursor: pointer;
	}
	&:checked + label.css-label {
		background-position: 0 -18px;
	}
}
label.css-label {
background-image: url('../../Images/checkbox.png');
	user-select: none;
}
