.register-success-box {
  width: 968px;
  height: 400px;
  border: 3px solid #f89b1d;
  margin: 75px auto;
  position: relative; }
  .register-success-box .tick {
    font-size: 400px;
    color: #f89b1d;
    float: left;
    margin-left: 50px; }
  .register-success-box .text-green {
    color: red;
    font-family: Segoe UI;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 85px;
    line-height: 40px;
    margin-bottom: 30px; }
  .register-success-box .text-normal {
    font-family: SegoeLight;
    font-size: 24px;
    text-align: center; }
  .register-success-box .link-text {
    color: #f89b1d;
    font-family: SegoeBlack;
    font-size: 20px;
    text-decoration: underline;
    position: absolute;
    right: 130px;
    bottom: 75px; }
  .register-success-box .link-text2 {
    color: #f89b1d;
    font-family: SegoeBlack;
    font-size: 20px;
    text-decoration: underline;
    position: absolute;
    right: 170px;
    bottom: 65px; }
  .register-success-box .complete-text {
    font-family: Segoe UI;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: 40px; }

