.details-container table.history-table tr th {
  width: 280px;
  text-align: center;
  vertical-align: middle; }

.details-container table.history-table tr th:first-child, .details-container table.history-table tbody tr td:first-child {
  width: 185px;
  text-align: left;
  position: relative; }

.details-container {
  width: 1066px;
  margin: auto; }
  .details-container ul.choice {
    margin-top: 80px;
    padding-left: 160px;
    text-align: center;
    height: 66px;
    text-transform: uppercase;
    color: #f89b1d;
    font-family: Segoe UI;
    font-size: 24px;
    border-bottom: 1px solid #f89b1d;
    border-top: 1px solid #f89b1d; }
    .details-container ul.choice li {
      margin-right: 160px;
      margin-top: 20px;
      display: inline-block; }
      .details-container ul.choice li.selected {
        font-weight: bold; }
  .details-container table.history-table {
    font-family: SegoeLight;
    font-size: 24px; }
    .details-container table.history-table tr th {
      text-transform: lowercase;
      border-bottom: 1px solid #bababa; }
      .details-container table.history-table tr th:last-child {
        width: 310px;
        text-align: right; }
    .details-container table.history-table tbody tr td {
      /*padding: 20px 0;*/
      line-height: 54px;
      font-family: SegoeBold;
      text-align: center;
      border-bottom: 1px solid #bababa; }
      .details-container table.history-table tbody tr td a.see {
        color: #bababa;
        font-size: 11px; }
      .details-container table.history-table tbody tr td:last-child {
        text-align: right;
        font-size: 18px;
        color: #268e09; }

.img-container {
  width: 1066px;
  margin: auto;
  border-bottom: 0; }
  .img-container .img-box {
    height: 426px;
    width: 536px;
    margin: auto; }

