//colors
$orangeplz: #f89b1d;

//fonts
$font_0: Segoe UI;
$font_1: SegoeLight;
$font_2: SegoeBold;

h2 {
    font-weight: bold; 
    padding:50px 0 20px 0; 
    text-align: center;
    color:$orangeplz;
    font-family: Segoe UI;
    font-size: 24px;
    text-transform: uppercase;
}
.register-background {
	max-width: 1600px;
	margin: auto;
	position: relative;
	img {
		position: absolute;
        top:0;
        max-width:none;
        max-height:none;
        z-index:-1;
	}
}
.register-cont  {
    height: 310px;
    width: 650px;
    border: 2px solid $orangeplz;
    margin: 15px auto 100px;
    background-color:white;
    position:relative;
        .register-box{
        width: 430px;
        height: 130px;
        margin: 25px 0 0 65px;
    }
}

.validation-box{
            margin-top: 35px;
            height: 16px;
            text-align: center;
            font-family: Segoe UI;
            color: red;
            ul{
                list-style-type:none;
            }
        }
.data-box{
    width: 410px;
    height: 29px;
    margin-top: 20px;
    font-family: $font_0;
    .input-validation-error,input.error{
        border: 1px solid red !important;
    }
    .field-validation-error,label.error{
        margin-left:143px;
        color:red;
        font-weight:bold;
        font-size:14px;
        font-family:$font_1
    }
    .text{        
        font-family:$font_1;
        font-size: 18px;
        float: left;
        line-height: 29px;
    }
    input[type=password], input[type=email] {
        text-align: center;
        font-family: SegoeLight;
        width: 267px;
        border: 1px solid #cccccc;
        float: right;
        height: 27px;
        padding: 0;
    }
}
.zarejestruj{
    float:right;
    margin-right: 30px;
    margin-top: 30px;
    height: 20px;
      .text {
            float:left;
	        font-size: 20px;
	        font-family: Segoe UI;
	        font-weight: bold;
	        text-transform: uppercase;
	        margin: 0;
	        color: $orangeplz;
            cursor: pointer;
            }
}
#triangle-right-big {
	        width: 0;
            height: 0;
            border-top: 11px solid transparent;
            border-left: 15px solid #f89b1d;
            border-bottom: 11px solid transparent;
            float: right;
                            margin: 4px 25px 37px 15px;

            cursor:pointer;-moz-transform: scale(.9999);
        }

input[type=radio].css-checkbox {
	display: none;
	+ label.css-label {
		padding-left: 23px;
		height: 18px;
		line-height: 20px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 14px;
		font-family: $font_1;
		float: left;
		vertical-align: middle;
		cursor: pointer;
        margin-left:33px;
	}
	&:checked + label.css-label {
		background-position: 0 -18px;
	}
}

label.css-label {
background-image:	url('../../Images/checkbox.png');
user-select: none;
}

.radiobtn-box{
    height: 18px;
    margin-left: 108px;
    margin-top: 22px;
}