@{
    ViewBag.Title = "Lista użytkowników";
}

@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Areas/Admin/Scripts/userListAngular.js")
@Styles.Render("~/Areas/Admin/Content/css/AdminUserList.css")
<div ng-app="adminApp">
    <div ng-controller="AdminUserCtrl" ng-init="init()">
        <div class="main-cont">
            <div class="search-box">
                <input type="text" ng-model="textFilter" ng-change="filterByName()" placeholder="WYSZUKAJ" />
            </div>
            <table class="main-table">
                <thead id="plz">
                <th>ID Użytkownika <a href="" ng-class="{'selected': selectedIndex==1}" ng-click="orderByMhm('Id',false,1)"><div class="icon-arrow-up up"></div></a><a href="" ng-class="{'selected': selectedIndex==2}" ng-click="orderByMhm('Id',true,2)"><div class="icon-arrow-down down"></div></a></th>
                <th>Nazwa użytkownika <a href="" ng-class="{'selected': selectedIndex==3}" ng-click="orderByMhm('Email',false,3)"><div class="icon-arrow-up up"></div></a><a href="" ng-class="{'selected': selectedIndex==4}" ng-click="orderByMhm('Email',true,4)"><div class="icon-arrow-down down"></div></a></th>
                <th>Ilość zamówień<a href="" ng-class="{'selected': selectedIndex==5}" ng-click="orderByMhm('Orders',false,5)"><div class="icon-arrow-up up"></div></a><a href="" ng-class="{'selected': selectedIndex==6}" ng-click="orderByMhm('Orders',true,6)"><div class="icon-arrow-down down"></div></a></th>
                <th class="blank">Przydziel stały rabat</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in usersList">
                        <td>{{item.Id}}<div class="icon-eye-open icon"></div></td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Orders}}</td>
                        <td><input type=text class="rabat" value={{item.Rabat}} ng-keypress="keyPressRabat($event)" ng-change="validateInput(item.Rabat,$index)" ng-model="item.Rabat" /> % <div class="save-text"><a ng-click="setDiscount(item.Id,item.Rabat)">Zapisz</a></div></td>
                    </tr>
                </tbody>
            </table>
            <div id="paginator" ng-if="pages>1">
                <ul class="shop-paginator">
                    <li>
                        <div class="paging-arrow-left" ng-click="setPage(currentPage-1)"></div>
                    </li>
                    <li class="inner-paginator" ng-repeat="page in tableOfPages" style="display: inline-block">
                        <div ng-if="page==currentPage">
                            <div class="paginator-box" style="font-weight: bold" ng-click="setPage($index+1)">{{page}}</div>
                        </div>
                        <div ng-if="page!=currentPage">
                            <div class="paginator-box" ng-click="setPage($index+1)">{{page}}</div>
                        </div>
                    </li>
                    <li>
                        <div class="paging-arrow-right" ng-click="setPage(currentPage+1)"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>