@model string
<div id="CartTotalValue">
    <a href="@Url.Action(MVC.Koszyk.Index())">
        <div class="cart-box">
            <div class="cart-text">koszyk @Model</div>
            <div class="cart-img"></div>
        </div>
    </a>
</div>
