<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Sukku</title>

</head>
<body>
    <header>
        <nav>
            
        </nav>
    </header>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Sukku</p>
    </footer>
    

    @RenderSection("scripts", required: false)
</body>
</html>
