@{
    ViewBag.Title = "Dostawy i płatności";
}
@Styles.Render("~/Areas/Admin/Content/css/PaymentShipping.min.css")
@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Areas/Admin/Scripts/ShipingPaymentAngular.min.js")

<div ng-app="adminApp">
    <div ng-controller="AdminPayShipCtrl" ng-init="init()">
        <div class="main-cont">
            <div class="title-payship">Wysyłka</div>
            <div style="margin-bottom: 10px">
                <input type="checkbox" class="css-checkbox" ng-model="onlyActiveShipping" id="onlyActiveShipping" ng-change="filterShippingByCheckboxes()" />
                <label for="onlyActiveShipping" class="css-label" style="margin-left:0">Tylko aktywne</label>
                <div style="clear:both"></div>
            </div>
            <table class="main-table">
                <thead id="plz">
                    <tr>
                        <th class="tableId">ID</th>
                        <th class="tableName">Nazwa</th>
                        <th class="tableOpis">Opis</th>
                        <th class="tablePrice">Cena</th>
                        <th class="tableWeight">Waga (kg)</th>
                        <th class="blank tableBlank"></th>
                        <th class="blank tableDelete"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in shippingList">
                        <td>{{item.ShippingId}}</td>
                        <td>{{item.ShippingName}}</td>
                        <td>
                            <div style="cursor:pointer" ng-if="!item.editActive" ng-click="ActivateShippingEditor(item.ShippingId,item.ShippingDescription)">{{item.ShippingDescription}}<div class="icon-pencil pencilek"></div></div>
                            <div ng-if="item.editActive" style="position: relative">
                                <input type="text" style="padding-right:40px;" ng-model="shippingEditorValue" />
                                <div style="position: absolute;color:red;right:5px;top:0;cursor:pointer;font-size:18px;" ng-click="DeactivateShippingEditor(item.ShippingId)">&#10005;</div>
                                <div style="position: absolute;color:green;right:25px;top:0;cursor:pointer;font-size:18px;" ng-click="SubmitShippingEditor(item.ShippingId,shippingEditorValue)">&#10003;</div>
                            </div>
                        </td>
                        <td>{{item.ShippingPrice}} PLN</td>
                        <td>
                            <div style="cursor:pointer" ng-if="!item.editWeight" ng-click="ActivateWeightShippingEditor(item.ShippingId,item.MaxWeight)">{{item.MaxWeight}}<div class="icon-pencil pencilek"></div></div>
                            <div ng-if="item.editWeight" style="position: relative">
                                <input type="text" style="width: 50%;padding-right: 40px;" ng-model="shippingWeightEditorValue" />
                                <div style="position: absolute;color:red;right:9px;top:0;cursor:pointer;font-size:18px;" ng-click="DeactivateWeightShippingEditor(item.ShippingId)">&#10005;</div>
                                <div style="position: absolute;color:green;right:25px;top:0;cursor:pointer;font-size:18px;" ng-click="SubmitWeightShippingEditor(item.ShippingId,shippingWeightEditorValue)">&#10003;</div>
                            </div>
                        </td>
                        <td ng-click="activateShipping(item.ShippingId)" ng-if="!item.Active" class="share">
                            Aktywuj
                            <div class="icon-mail-forward" style="margin-left: 5px; font-size: 17px"></div>
                        </td>
                        <td ng-click="deactivateShipping(item.ShippingId)" ng-if="item.Active" class="take-out">Dezaktywuj<div class="icon-remove-sign" style="margin-left: 5px; font-size: 17px"></div></td>
                        <td ng-if="item.canDelete==true"><a ng-click="deleteShipping(item.ShippingId)" class="icon-trash trash"></a></td>
                    </tr>
                    <tr ng-if="!addShippingActive">
                        <td ng-click="addShippingForm()" class="addoption">DODAJ <div class="icon-plus-sign"></div></td>
                    </tr>
                    <tr ng-if="addShippingActive">
                        <td ng-click="cancelShippingForm()" class="addoption" style="color:red">ANULUJ <div class="icon-remove-sign"></div></td>
                        @using (Html.BeginForm(MVC.Admin.DostawyPlatnosci.AddShipping(), FormMethod.Post, new { id = "newShippingForm" }))
                        {
                            <td><input ng-model="newShippingName" id="newShippingName" name="newShippingName" type="text" placeholder="Wprowadź nazwę" ng-change="validateShippingForm(newShippingName,newShippingDescription,newShippingPrice,newShippingWeight)" /></td>
                            <td><input ng-model="newShippingDescription" id="newShippingDescription" name="newShippingDescription" type="text" placeholder="Wprowadź opis" ng-change="validateShippingForm(newShippingName,newShippingDescription,newShippingPrice,newShippingWeight)" /></td>
                            <td><input ng-model="newShippingPrice" id="newShippingPrice" type="text" name="newShippingPrice" placeholder="np. 15,50" ng-keypress="keyPressPrice($event)" ng-change="validateShippingPrice(newShippingName,newShippingDescription,newShippingPrice,newShippingWeight)" /></td>
                            <td><input ng-model="newShippingWeight" id="newShippingWeight" type="text" name="newShippingWeight" placeholder="np. 0,50" ng-keypress="keyPressPrice($event)" ng-change="validateShippingPrice(newShippingName,newShippingDescription,newShippingPrice,newShippingWeight)" /></td>

    <td ng-click="submitShippingForm(newShippingName,newShippingDescription,newShippingPrice,newShippingWeight)" class="addoption">ZAPISZ <div class="icon-plus-sign"></div></td>
                        }
                    </tr>
                </tbody>
            </table>
            <div ng-if="invalidShippingForm" style="color:red;font-family:Segoe UI; text-align:center;">Wypełnij wszystkie pola!</div>
            <div ng-if="invalidShippingPrice" style="color:red;font-family:Segoe UI; text-align:center;">Nieprawidłowy format ceny (np. 15,99)!</div>
            <div ng-if="invalidShippingWeight" style="color:red;font-family:Segoe UI; text-align:center;">Nieprawidłowy format wagi (np. 0,50)!</div>

            <div class="title-payship" style="margin-top:30px">Płatności</div>
            <div style="margin-bottom: 10px">
                <input type="checkbox" class="css-checkbox" ng-model="onlyActivePayment" id="onlyActivePayment" ng-change="filterPaymentByCheckboxes()" />
                <label for="onlyActivePayment" class="css-label" style="margin-left:0">Tylko aktywne</label>
                <div style="clear:both"></div>
            </div>
            <table class="main-table">
                <thead id="plz">
                    <tr>
                        <th class="tableId">ID</th>
                        <th class="tableName">Nazwa</th>
                        <th class="tableOpis">Opis</th>
                        <th class="tablePrice">Cena</th>
                        <th class="blank tableBlank"></th>
                        <th class="blank tableDelete"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in paymentList">
                        <td>{{item.PaymentId}}</td>
                        <td>{{item.PaymentName}}</td>
                        <td>
                            <div style="cursor:pointer" ng-if="!item.editActive" ng-click="ActivatePaymentEditor(item.PaymentId,item.PaymentDescription)">{{item.PaymentDescription}}<div class="icon-pencil pencilek"></div></div>
                            <div ng-if="item.editActive" style="position: relative">
                                <input type="text" style="padding-right:40px;" ng-model="paymentEditorValue" />
                                <div style="position: absolute;color:red;right:5px;top:0;cursor:pointer;font-size:18px;" ng-click="DeactivatePaymentEditor(item.PaymentId)">&#10006;</div>
                                <div style="position: absolute;color:green;right:25px;top:0;cursor:pointer;font-size:18px;" ng-click="SubmitPaymentEditor(item.PaymentId,paymentEditorValue)">&#10004;</div>
                            </div>
                        </td>
                        <td>{{item.PaymentPrice}} PLN</td>
                        <td ng-click="activatePayment(item.PaymentId)" ng-if="!item.Active" class="share">
                            Aktywuj
                            <div class="icon-mail-forward" style="margin-left: 5px; font-size: 17px"></div>
                        </td>
                        <td ng-click="deactivatePayment(item.PaymentId)" ng-if="item.Active" class="take-out">Dezaktywuj<div class="icon-remove-sign" style="margin-left: 5px; font-size: 17px"></div></td>
                        <td ng-if="item.canDelete==true"><a ng-click="deletePayment(item.PaymentId)" class="icon-trash trash"></a></td>
                    </tr>
                    <tr ng-if="!addPaymentActive">
                        <td ng-click="addPaymentForm()" class="addoption">DODAJ <div class="icon-plus-sign"></div></td>
                    </tr>
                    <tr ng-if="addPaymentActive">
                        <td ng-click="cancelPaymentForm()" class="addoption" style="color:red">ANULUJ <div class="icon-remove-sign"></div></td>
                        @using (Html.BeginForm(MVC.Admin.DostawyPlatnosci.AddPayment(), FormMethod.Post, new { id = "newPaymentForm" }))
                        {
                            <td><input ng-model="newPaymentName" id="newPaymentName" name="newPaymentName" type="text" placeholder="Wprowadź nazwę" ng-change="validatePaymentForm(newPaymentName,newPaymentDescription,newPaymentPrice)" /></td>
                            <td><input ng-model="newPaymentDescription" id="newPaymentDescription" name="newPaymentDescription" type="text" placeholder="Wprowadź opis" ng-change="validatePaymentForm(newPaymentName,newPaymentDescription,newPaymentPrice)" /></td>
                            <td><input ng-model="newPaymentPrice" id="newPaymentPrice" type="text" name="newPaymentPrice" placeholder="np. 15,50" ng-keypress="keyPressPrice($event)" ng-change="validatePaymentPrice(newPaymentName,newPaymentDescription,newPaymentPrice)" /></td>
                            <td ng-click="submitPaymentForm(newPaymentName,newPaymentDescription,newPaymentPrice)" class="addoption">ZAPISZ <div class="icon-plus-sign"></div></td>
                        }
                    </tr>
                </tbody>
            </table>
            <div ng-if="invalidPaymentForm" style="color:red;font-family:Segoe UI; text-align:center;">Wypełnij wszystkie pola!</div>
            <div ng-if="invalidPaymentPrice" style="color:red;font-family:Segoe UI; text-align:center;">Nieprawidłowy format ceny (np. 15,99)!</div>

        </div>
    </div>
</div>
