@model SukkuShop.Models.OrderViewModels
@{
    ViewBag.Title = "Podsumowanie";
}

<div class="cart-container">
    <div class="cart-title">Twoje zamówienie</div>
    <ul class="cart-order-steps">
        <li>1. Produkty i wysyłka</li>
        <li>2. Dane kontaktowe</li>
        <li class="selected">3. Podsumowanie zamówienia</li>
    </ul>

    <table class="cart-table" cellspacing="0">
        <thead>
            <tr>
                <th>Twoje produkty</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            @*Tu chyba jeszcze zdjecie gdzies, nie?*@
            <tr>
                <td>Name</td>
                <td>10.00</td>
                <td>20 szt.</td>
                <td>200.00</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>10.00</td>
                <td>20 szt.</td>
                <td>200.00</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>10.00</td>
                <td>20 szt.</td>
                <td>200.00</td>
            </tr>
        </tbody>
    </table>
    <div class="products-price-summary">RAZEM 5000.00</div>
    <div>
        <div class="middle-box">
            <div class="cart-title">Dostawa</div>
            <div class="main-line"> Poczta Polska Bla Bla Bla</div><div class="cost"> 8.00 PLN</div>
            <div class="description-box">
                <div class="description-line">Przesyłka powinno zostać dostarczona w ciągu 2-3 dni roboczych od momentu nadania.</div>
            </div>
            <div class="clear" style="clear: both"></div>
            <div class="cart-title">Adres Dostawy</div>
            <div class="main-line">Jan Kowalski</div>
            <div class="description-box">
                <div class="description-line">Ul. Blablabla 12</div>
                <div class="description-line"> 99-999 Zameczek</div>
                <div class="description-line">Polska</div>
                <div class="description-line">Tel: 666-666-666</div>
            </div>
            <div class="clear" style="clear: both"></div>
            <div class="cart-title">Płatność</div>
            <div class="main-line"> Przedpłata na konto</div><div class="cost"> 8.00 PLN</div>
            <div class="description-box">
                <div class="description-line">Zamówienie zostanie wysłane po zaksięgowaniu wpłaty.</div>
            </div>
        </div>
        <div class="clear" style="clear: both"></div>
        <div>
            <div class="bottom-box">
                <div class="cart-title">Podsumowanie</div>
                <div class="bottom-summary-box">
                    <div class="cost-summary-price"> 50.00 PLN</div>
                    <div class="cost-summary">RAZEM</div>
                </div>
                <div class="clear" style="clear: both"></div>
            </div>           
        </div>
    </div>
</div>




@Scripts.Render("~/Scripts/OrderScripts.js")
@Styles.Render("~/Content/css/Summary.css")