<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trysukku.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>trysukku.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trysukku</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$trysukku</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ypebijr5t7.database.windows.net,1433;Initial Catalog=trysukku_db;User ID=sukkudb@ypebijr5t7;Password=J5cdmwg6tpm1" Name="Data Source=tcp:ypebijr5t7.database.windows.net,1433;Initial Catalog=trysukku_db;User Id=sukkudb@ypebijr5t7;Password=J5cdmwg6tpm1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SukkuShop.Models.ApplicationDbContext, SukkuShop" MigrationConfiguration="SukkuShop.Migrations.Configuration, SukkuShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ypebijr5t7.database.windows.net,1433;Initial Catalog=trysukku_db;User Id=sukkudb@ypebijr5t7;Password=J5cdmwg6tpm1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>