//colors
$sukkucolor: #f89b1d;
$black: black;
$sukkugrey: #8d8d8d;

//fonts
$SeSB: SegoeSemibold;
$SeSBIE: SegoeSemiboldIE;
$SeSL: SegoeSemilight;
$SeB: SegoeBold;
$SeBlack: SegoeBlack;
$SeL: SegoeLight;
$SeUI: Segoe UI;

%extend_2 {
	margin: 0 4px;
	float: left;
	width: 21px;
    list-style-type:none;
}

    #plz th a { opacity: 0.5; }

    #plz th a.selected { opacity: 1; }

body{
    .panel-cont{
        width:1066px;
        margin: auto;
        .side-nav{
            float:left;
            width:220px;
            border-right:2px solid $sukkucolor;  
            .search-box{
                width:190px;
                float:left;
                margin-right:30px;
                border-bottom: 1px solid $black;
                input[type=text]{
                    border:none;
                    font-size:16px;
                    font-family: $SeUI;
                    float:left;
                    width:170px;
                    outline:none;
                }
                .search-arrow {
	                width: 0;
	                height: 0;
	                border-top: 7px solid transparent;
	                border-left: 11px solid $black;
	                border-bottom: 7px solid transparent;
	                background-color: transparent;
                    border-right: 0;
                    float:left;
	                cursor: pointer;
	                opacity: 0.6;	              
	                margin-top: 4px;
                    margin-left: 5px;
                    margin-right: -12px;
	                &:hover {
		                opacity: 1;
	                    }
                    } 
            }
            .category-main{
                    margin-top:50px;
                    font-family:$SeUI;
                    font-weight:bold;
                    font-size: 22px;
                    text-transform:uppercase;
                    color:$sukkugrey;
                }
            ul.main-list{
                margin-left:-15px;
                list-style-type:none;
                font-family:$SeUI;
                font-weight:bold;
                font-size:22px;
                text-transform:uppercase;
                color:$sukkucolor; 
                
                li{
                    margin-top:20px;
                    cursor:pointer;
                }
                ul li{
                     list-style-type:none;
                     margin-top:10px;
                        cursor:pointer;
                }
             }
        }
        .main-cont{
            width:844px;
            float:left;
            .top-cont{
                float:left;
                margin-bottom:30px;
                width: 600px;                
            }
            .add-product{
                text-transform:uppercase;
                font-family:$SeUI;
                font-weight:bold;
                color:#458B00;
                font-size:25px
            }
            .main-table{
                width:840px;

                thead th{
                    font-family:$SeUI;
                    
                    color:$sukkucolor;
                    text-align: center;
                    text-transform:uppercase;
                    font-weight:bold;
                    font-size:16px;
                    +.blank{
                        text-align:center;
                    }
                    .up{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                    .down{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                }
                tbody td{
                    color:$black;
                    font-family:$SeUI;
                    font-size:16px;
                    text-transform:uppercase;
                    text-align: center;
position:relative;
                    a{
                        cursor:pointer;
&.trash-yes{
                        color:black;
                        font-size:30px;
                        margin-right:5px
                        }
&.trash-no{
                            color:black;
font-size:30px;
}
                        &:hover{text-decoration:none;}
                        
                    }
                    .trash{
                        color:$sukkucolor;
                        font-size:30px;
                    }
                    .pencil{
                        color:$sukkucolor;
                        font-size:30px;
                    }
                    +.state{
                        font-size:10px;
                        color:$sukkugrey;

                    }
                    +.deta{
                            color:$sukkugrey;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
                            cursor:pointer;
                    }
                    +.share{
                            color:green;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
                            cursor:pointer;
                
                        }
                    +.take-out{
                            color:red;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
cursor:pointer;
                        
                    }
                }
            }
          }
        }
    }
input[type=checkbox].css-checkbox {
	            display: none;
	                + label.css-label {
		            padding-left: 23px;
		            height: 18px;
		            line-height: 20px;
		            display: inline-block;
		            background-repeat: no-repeat;
		            background-position: 0 0;
		            font-size: 16px;
		            font-family: $SeUI;
		            float: left;
		            vertical-align: middle;
		            cursor: pointer;
                    margin-left:33px;
                    color:$sukkucolor;
	                }
	                &:checked + label.css-label {
		                background-position: 0 -18px;
	                    }
                }
                label.css-label {
background-image: url('../../../../Content/Images/checkbox.png');
	                user-select: none;
                }

        ul.shop-paginator li {
		@extend %extend_2;
		&.inner-paginator {
			@extend %extend_2;
			&:before {
				position: absolute;
				background: $sukkucolor;
				content: '';
				width: 21px;
				height: 21px;
			}
		}
		&:last-child {
			position: relative;
		}
		.paginator-box {
			line-height: 21px;
			vertical-align: middle;
			position: relative;
			font-family: $SeUI;
			font-size: 13px;
			text-align: center;
			color: white;
			text-decoration: none;
            cursor:pointer;
		}
		&:hover {
			color: white;
		}		
	}
    #paginator {	
	margin:auto;
	ul.shop-paginator {
		position: relative;
		left: 35%;
        .paging-arrow-right {
	        width: 0;
	        height: 0;
	        border-top: 8px solid transparent;
	        border-left: 11px solid $sukkucolor;
	        border-bottom: 8px solid transparent;
	        float: right;
	        background-color: transparent;
	        cursor: pointer;
	        margin-top: 2px;
	        margin-right: 12px;-moz-transform: scale(.9999);
        }
        .paging-arrow-left {
	        width: 0;
	        height: 0;
	        border-top: 8px solid transparent;
	        border-right: 11px solid $sukkucolor;
	        border-bottom: 8px solid transparent;
	        background-color: transparent;
	        cursor: pointer;
	        float: left;
	        margin-top: 2px;
	        margin-left: 12px;-moz-transform: scale(.9999);
        }
	}
}

.info-box-plz{
    position: absolute;
width: 180px;
border: 2px solid #f89b1d;
background: white;
top: 25px;
z-index: 100;
cursor: default;
left: -60px;
    ul{
padding: 5px 20px;
margin: 0;
text-align: left;
li{padding:0;
color: $sukkucolor;
font-weight:bold;
}
    }
    .close-info-box{
        color:black;
        font-size:20px;
        padding:5px;
        opacity:0.5;
        float:right;
        &:hover{
        opacity:1;
        cursor:pointer;
    }
    }
}
        

