ul.shop-paginator li, ul.shop-paginator li.inner-paginator {
  margin: 0 4px;
  float: left;
  width: 21px;
  list-style-type: none; }

#plz th a {
  opacity: 0.5; }

#plz th a.selected {
  opacity: 1; }

body .panel-cont {
  width: 1066px;
  margin: auto; }
  body .panel-cont .side-nav {
    float: left;
    width: 220px;
    border-right: 2px solid #f89b1d; }
    body .panel-cont .side-nav .search-box {
      width: 190px;
      float: left;
      margin-right: 30px;
      border-bottom: 1px solid black; }
      body .panel-cont .side-nav .search-box input[type=text] {
        border: none;
        font-size: 16px;
        font-family: Segoe UI;
        float: left;
        width: 170px;
        outline: none; }
      body .panel-cont .side-nav .search-box .search-arrow {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 11px solid black;
        border-bottom: 7px solid transparent;
        background-color: transparent;
        border-right: 0;
        float: left;
        cursor: pointer;
        opacity: 0.6;
        margin-top: 4px;
        margin-left: 5px;
        margin-right: -12px; }
        body .panel-cont .side-nav .search-box .search-arrow:hover {
          opacity: 1; }
    body .panel-cont .side-nav .category-main {
      margin-top: 50px;
      font-family: Segoe UI;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
      color: #8d8d8d; }
    body .panel-cont .side-nav ul.main-list {
      margin-left: -15px;
      list-style-type: none;
      font-family: Segoe UI;
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
      color: #f89b1d; }
      body .panel-cont .side-nav ul.main-list li {
        margin-top: 20px;
        cursor: pointer; }
      body .panel-cont .side-nav ul.main-list ul li {
        list-style-type: none;
        margin-top: 10px;
        cursor: pointer; }
  body .panel-cont .main-cont {
    width: 844px;
    float: left; }
    body .panel-cont .main-cont .top-cont {
      float: left;
      margin-bottom: 30px;
      width: 600px; }
    body .panel-cont .main-cont .add-product {
      text-transform: uppercase;
      font-family: Segoe UI;
      font-weight: bold;
      color: #458B00;
      font-size: 25px; }
    body .panel-cont .main-cont .main-table {
      width: 840px; }
      body .panel-cont .main-cont .main-table thead th {
        font-family: Segoe UI;
        color: #f89b1d;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px; }
        body .panel-cont .main-cont .main-table thead th + .blank {
          text-align: center; }
        body .panel-cont .main-cont .main-table thead th .up {
          color: #8d8d8d;
          line-height: 2em; }
        body .panel-cont .main-cont .main-table thead th .down {
          color: #8d8d8d;
          line-height: 2em; }
      body .panel-cont .main-cont .main-table tbody td {
        color: black;
        font-family: Segoe UI;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        position: relative; }
        body .panel-cont .main-cont .main-table tbody td a {
          cursor: pointer; }
          body .panel-cont .main-cont .main-table tbody td a.trash-yes {
            color: black;
            font-size: 30px;
            margin-right: 5px; }
          body .panel-cont .main-cont .main-table tbody td a.trash-no {
            color: black;
            font-size: 30px; }
          body .panel-cont .main-cont .main-table tbody td a:hover {
            text-decoration: none; }
        body .panel-cont .main-cont .main-table tbody td .trash {
          color: #f89b1d;
          font-size: 30px; }
        body .panel-cont .main-cont .main-table tbody td .pencil {
          color: #f89b1d;
          font-size: 30px; }
        body .panel-cont .main-cont .main-table tbody td + .state {
          font-size: 10px;
          color: #8d8d8d; }
        body .panel-cont .main-cont .main-table tbody td + .deta {
          color: #8d8d8d;
          font-size: 10px;
          font-weight: bold;
          line-height: 20px;
          cursor: pointer; }
        body .panel-cont .main-cont .main-table tbody td + .share {
          color: green;
          font-size: 10px;
          font-weight: bold;
          line-height: 20px;
          cursor: pointer; }
        body .panel-cont .main-cont .main-table tbody td + .take-out {
          color: red;
          font-size: 10px;
          font-weight: bold;
          line-height: 20px;
          cursor: pointer; }

input[type=checkbox].css-checkbox {
  display: none; }
  input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 23px;
    height: 18px;
    line-height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    font-family: Segoe UI;
    float: left;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 33px;
    color: #f89b1d; }
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -18px; }

label.css-label {
  background-image: url("../../../../Content/Images/checkbox.png");
  user-select: none; }

ul.shop-paginator li.inner-paginator:before {
  position: absolute;
  background: #f89b1d;
  content: '';
  width: 21px;
  height: 21px; }
ul.shop-paginator li:last-child {
  position: relative; }
ul.shop-paginator li .paginator-box {
  line-height: 21px;
  vertical-align: middle;
  position: relative;
  font-family: Segoe UI;
  font-size: 13px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer; }
ul.shop-paginator li:hover {
  color: white; }

#paginator {
  margin: auto; }
  #paginator ul.shop-paginator {
    position: relative;
    left: 35%; }
    #paginator ul.shop-paginator .paging-arrow-right {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      float: right;
      background-color: transparent;
      cursor: pointer;
      margin-top: 2px;
      margin-right: 12px;
      -moz-transform: scale(0.9999); }
    #paginator ul.shop-paginator .paging-arrow-left {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      background-color: transparent;
      cursor: pointer;
      float: left;
      margin-top: 2px;
      margin-left: 12px;
      -moz-transform: scale(0.9999); }

.info-box-plz {
  position: absolute;
  width: 180px;
  border: 2px solid #f89b1d;
  background: white;
  top: 25px;
  z-index: 100;
  cursor: default;
  left: -60px; }
  .info-box-plz ul {
    padding: 5px 20px;
    margin: 0;
    text-align: left; }
    .info-box-plz ul li {
      padding: 0;
      color: #f89b1d;
      font-weight: bold; }
  .info-box-plz .close-info-box {
    color: black;
    font-size: 20px;
    padding: 5px;
    opacity: 0.5;
    float: right; }
    .info-box-plz .close-info-box:hover {
      opacity: 1;
      cursor: pointer; }

