    #image-container,#image-container-small {
        position: relative;
    }
    #image-container img,#image-container-small img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }