ul.shop-paginator li, ul.shop-paginator li.inner-paginator {
  margin: 0 4px;
  float: left;
  width: 21px;
  list-style-type: none; }

#ajax-completetick {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  color: green;
  font-size: 50px; }

.icon {
  margin-left: 5px;
  color: grey;
  font-size: 20px;
  cursor: pointer; }

body .main-cont {
  width: 1066px;
  margin: auto; }
  body .main-cont .search-box {
    width: 175px;
    float: left;
    margin-right: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 25px; }
    body .main-cont .search-box input[type=text] {
      border: none;
      font-size: 16px;
      font-family: Segoe UI;
      float: left;
      width: 170px;
      outline: none; }
  body .main-cont .main-table {
    width: 1066px; }
    body .main-cont .main-table thead th {
      font-family: Segoe UI;
      color: black;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
      body .main-cont .main-table thead th + .blank {
        color: #f89b1d; }
      body .main-cont .main-table thead th .up {
        color: #8d8d8d;
        line-height: 2em; }
      body .main-cont .main-table thead th .down {
        color: #8d8d8d;
        line-height: 2em; }
    body .main-cont .main-table tbody td {
      color: black;
      font-family: Segoe UI;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      margin-bottom: 5px; }
      body .main-cont .main-table tbody td .save-text {
        float: right;
        margin-right: 30px;
        line-height: 30px; }
        body .main-cont .main-table tbody td .save-text a {
          color: #f89b1d; }
      body .main-cont .main-table tbody td a {
        cursor: pointer; }
        body .main-cont .main-table tbody td a:hover {
          text-decoration: none; }

ul.shop-paginator li.inner-paginator:before {
  position: absolute;
  background: #f89b1d;
  content: '';
  width: 21px;
  height: 21px; }
ul.shop-paginator li:last-child {
  position: relative; }
ul.shop-paginator li .paginator-box {
  line-height: 21px;
  vertical-align: middle;
  position: relative;
  font-family: Segoe UI;
  font-size: 13px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer; }
ul.shop-paginator li:hover {
  color: white; }

#paginator {
  margin: auto; }
  #paginator ul.shop-paginator {
    position: relative;
    left: 45%; }
    #paginator ul.shop-paginator .paging-arrow-right {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      float: right;
      background-color: transparent;
      cursor: pointer;
      margin-top: 2px;
      margin-right: 12px; }
    #paginator ul.shop-paginator .paging-arrow-left {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      background-color: transparent;
      cursor: pointer;
      float: left;
      margin-top: 2px;
      margin-left: 12px; }

input[type=text].rabat {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  font-family: SegoeLight;
  color: black;
  font-size: 16px; }

#plz th a {
  opacity: 0.5; }

#plz th a.selected {
  opacity: 1; }

