//colors
$sukkucolor: #f89b1d;
$black: black;
$sukkugrey: #8d8d8d;

//fonts
$SeSB: SegoeSemibold;
$SeSBIE: SegoeSemiboldIE;
$SeSL: SegoeSemilight;
$SeB: SegoeBold;
$SeBlack: SegoeBlack;
$SeL: SegoeLight;
$SeUI: Segoe UI;  

.animate-show {
  line-height: 100%;
  opacity: 1;
  padding: 20px;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
table td:hover div div.pencilek{
visibility:visible;
}
input[type=text]{
height:20px;
font-family:Segoe UI;
padding:2px;
font-size:14px;
border:1px solid $sukkucolor;
width:90%;
text-align:center;
padding-right: 40px;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 20px;
}
#ajax-completetick{
    position:absolute;
    float:left;
    width:50px;
    height:50px;
    color:green;
    font-size:50px;
}
.pencilek{
float:right;
visibility:hidden;
color:$sukkucolor;
font-size:20px;
}
.tableName{
width:25%;
}
.tableProm{
width:25%
}
.tableDelete{
width:15%;
}

.titleBox {
clear:both;
width: 150px;
margin: auto;
height: 25px;
margin-bottom:15px;
.titleText {
text-align:center;
font-family:Segoe UI;
font-weight:bold;
color: $sukkucolor;
font-size:20px;
line-height:25px;
}
a img{
float:right
}
}

.main-table{
                width:1066px;
margin:auto;
                 thead th{
                    font-family:$SeUI;
                    
                    color:$sukkucolor;
                    text-align: center;
                    text-transform:uppercase;
                    font-weight:bold;
                    font-size:16px;
                    +.blank{
                        text-align:center;
                    }
                    .up{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                    .down{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                }
                tbody td{
                    color:$black;
                    font-family:$SeUI;
                    font-size:14px;
height:33px;
                    text-align: center;
                    position:relative;
a{
                        cursor:pointer;
&.trash-yes{
                        color:black;
                        font-size:30px;
                        margin-right:5px
                        }
&.trash-no{
                            color:black;
font-size:30px;
}
                        &:hover{text-decoration:none;}
                        
                    }
                    .trash{
                        color:$sukkucolor;
                        font-size:30px;
                    }
&.addoption{
color: #458B00;font-weight: bold;line-height: 25px;font-size:20px;cursor:pointer;
}
                    +.share{
                            color:green;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
                            cursor:pointer;
                            text-transform:uppercase;
                        }
                    +.take-out{
                            color:red;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
cursor:pointer;
                        text-transform:uppercase;
                    }
                }
       }