//colors
$sukkucolor: #f89b1d;
$black: black;
$sukkugrey: #8d8d8d;

//fonts
$SeSB: SegoeSemibold;
$SeSBIE: SegoeSemiboldIE;
$SeSL: SegoeSemilight;
$SeB: SegoeBold;
$SeBlack: SegoeBlack;
$SeL: SegoeLight;
$SeUI: Segoe UI;



@font-face {
	font-family: $SeL;
	src: url('../../../../Content/fonts/SEGOEUIL.eot');
	src: local('SEGOEUIL'), url('../../../../Content/fonts/SEGOEUIL.woff') format('woff'), url('../../../../Content/fonts/SEGOEUIL.ttf') format('truetype');
}

.main-box {
    width:1066px;
    margin:auto;
    .create-prod-box {
        width:844px;
        float:right;
        .bottom-container{
            margin-left: 94px;
            textarea{
                padding:5px 10px;
                margin-top:30px;
                border:1px solid #f89b1d;
                max-width:590px;
                max-height:125px;
                font-family:$SeL;
                width:590px;
                height:125px;
                font-size:14px;
            }
            .prom-text{
                font-size:26px;
                margin-top:40px;
                font-family:Segoe UI;
                color: #f89b1d;
                float:left;
            }
            #prom-textbox{
                width: 40px;
                text-align:center;
                border: 1px solid black;
                color:black;
                font-size:20px;
                padding:5px 0;
                font-weight:normal;
                font-family: $SeL;
                float:right;
                margin-top:35px;
                margin-right:20px;
            }
            .fapencil{
                float:right;
                color:#f89b1d;
                margin-right: 50px;
                font-size:30px; 
                margin-top:40px;
                
            }
        }
    }
    .side-nav{
        float:left;
        width:220px;
        border-right:2px solid $sukkucolor;  
        .search-box{
            width:190px;
            float:left;
            margin-right:30px;
            border-bottom: 1px solid $black;
            input[type=text]{
                border:none;
                font-size:16px;
                font-family: $SeUI;
                float:left;
                width:170px;
                outline:none;
            }
            .search-arrow {
	            width: 0;
	            height: 0;
	            border-top: 7px solid transparent;
	            border-left: 11px solid $black;
	            border-bottom: 7px solid transparent;
	            background-color: transparent;
                border-right: 0;
                float:left;
	            cursor: pointer;
	            opacity: 0.6;	              
	            margin-top: 4px;
                margin-left: 5px;
                margin-right: -12px;
	            &:hover {
		            opacity: 1;
	                }
                } 
        }
        .category-main{
                margin-top:50px;
                font-family:$SeUI;
                font-weight:bold;
                font-size: 22px;
                text-transform:uppercase;
                color:$sukkugrey;
            }
        ul.main-list{
            margin-left:-15px;
            list-style-type:none;
            font-family:$SeUI;
            font-weight:bold;
            font-size:22px;
            text-transform:uppercase;
            color:$sukkucolor; 
                
            li{
                margin-top:20px;
                cursor:pointer;
                a{
                    color:$sukkucolor; 
                }
            }
            ul li{
                    list-style-type:none;
                    margin-top:10px;
                    cursor:pointer;
                    a{
                        color:$sukkucolor; 
                    }
            }
        }
    }
 #image-container {
        margin-right:22px;
        margin-left:94px;
        position: relative;
        width:366px;
        height:366px;
        border:2px #999999 solid;
        float:left;
        cursor:pointer;
        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
        .bubble{
            position: absolute;
            display: table;
            width:366px;
            height:366px;
            p{
                display: table-cell; 
                vertical-align: middle; 
                text-align: center; 
                font-size:42px;
                font-family:Segoe UI;
                color:#999999;
                font-weight: bold;
                line-height:32px;
                text-transform: uppercase
            }
        }
    }
.left-container-edit{
    width:358px;
    float:left;
position: relative;
    .styled-select{
        height: 25px;
        overflow: hidden;
        width: 230px;
        border:1px solid #f89b1d;
        
        select{
-moz-appearance:none;
text-indent: 0.01px;
text-overflow:"";
            background: transparent;
            border: none;
            font-size: 14px;
            height: 26px;

            padding: 0 5px; /* If you add too much padding here, the options won't show in IE */
            width: 232px;

            font-family:Segoe Ui;


            -webkit-appearance: none;
            color:#f89b1d;
            font-weight:bold;
            line-height:26px;
            option{
                color:black;
                border-right:1px solid  #f89b1d !important;
                border-left:1px solid  #f89b1d !important;
                &:first-child{
                    border-top:1px solid  #f89b1d !important;
                }
                &:last-child{
                    border-bottom:1px solid  #f89b1d !important;
                }
            }
        }
        background: url('../Images/selectboxbtn.png') no-repeat right center;
&.plz{
border:1px solid #999999;
 }
        &#sublist{
            background: url('../Images/selectboxbtn-nonactive.png') no-repeat right center;
            
            width: 200px;
            select{
                color:#999999;
                width: 202px;
            }
        }
    }
    .textbox-container{
        color: #f89b1d;
        position:relative;
        
        font-family: Segoe UI;
        .error{
            color: red;
font-family: Segoe Ui;
font-size: 15px;
        }
        &#title {
            margin-bottom:20px;
            height:40px;
            input[type=text]{
                width: 319px;
                font-weight:bold;
                font-family:Segoe UI;
                
            }
        }
        &#price input[type=text]{
            width: 80px;
            text-align:right;
            margin-top:15px;
            font-size:26px        
        }
&#packing{
height:40px;
}
        &#packing .icon-pencil{
        position: absolute;
        left: 160px;
        top: 15px;
        }
label#price-textbox-error{
position: absolute;
left: 220px;
bottom: 5px;
}
        &#packing input[type=text]{
            width: 150px;
            text-transform:none;
            margin-top:10px;
            font-size:26px;
            height:35px;
            margin-right:200px;
        }
        &#quantity input[type=text]{
            width: 50px;
            text-align:center;
            border: 1px solid black;
            color:black;
            font-size:20px;
            padding:5px 0;
            margin-top:5px;
            font-weight:normal;
            font-family: SegoeLight;
            &::-webkit-input-placeholder { /* WebKit browsers */
                color:    black;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    black;
                opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    black;
                opacity:  1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color:    black;
            }
        }
        &#title .icon-pencil{
            position:absolute;
            top:9px;
            right:80px;
            font-size:26px;
        }
        input[type=text]{
            font-family: Segoe UI;
            font-size:26px;
            color: #f89b1d;
            border:none;
            text-transform:none;
            &::-webkit-input-placeholder { /* WebKit browsers */
                color:    #f89b1d;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #f89b1d;
                opacity:  1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #f89b1d;
                opacity:  1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color:    #f89b1d;
            }
        }
    }
    .bad-image{
        font-size:16px;
        color:#cc3333;
        font-weight:bold;
        font-family:SegoeLight;
        visibility:hidden;
        margin-bottom:90px;
    }   
}
}

input[type=checkbox].css-checkbox {
	            display: none;
	                + input[type=hidden] + label.css-label {
		            padding-left: 23px;
		            height: 18px;
		            line-height: 20px;
		            display: inline-block;
		            background-repeat: no-repeat;
		            background-position: 0 0;
		            font-size: 16px;
		            font-family: $SeUI;
		            float: left;
		            vertical-align: middle;
		            cursor: pointer;
                    margin-left:33px;
                    color:$sukkucolor;
color:#ff6600;font-weight: bold;text-transform: uppercase
	                }
	                &:checked + input[type=hidden]+ label.css-label {
		                background-position: 0 -18px;
	                    }
                }
                label.css-label {
background-image: url('../../../../Content/Images/checkbox.png');	                user-select: none;
                }
.zapisz-text{
color:#ff6600;font-weight: bold;text-transform:uppercase;
font-family:Segoe UI; font-size:24px;margin-top:20px;float:right;
}

#start-upload{
    cursor:pointer;
    &:hover{
        text-decoration:underline;
    }
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 14px solid #ff6600;
    border-bottom: 9px solid transparent;
    float: right;
    margin-left: 15px;
    margin-top: 29px;-moz-transform: scale(.9999);
}

#canvas-wrapper{
float:left;
}


.text-edit{
    font-size:26px;
}

.error-plz{
 color:red;
font-family:Segoe Ui;
font-size:20px;
text-align:center;
visibility:hidden;
}

#delete-img,#hide-img{
&:hover{text-decoration:underline;}
}

.default-img{
position: absolute;
top:20px;
cursor:pointer;
font-size: 16px;
color: #cc3333;
font-weight:bold;
font-family: SegoeLight;
text-transform:uppercase;
&:hover{
text-decoration:underline
}
}

.danger-text{
position: absolute;
cursor:pointer;
font-size: 16px;
color: #cc3333;
font-weight:bold;
font-family: $SeL;
text-transform:uppercase;
}