//colors
$sukkucolor: #f89b1d;
$black: black;
$sukkugrey: #8d8d8d;

//fonts
$SeSB: SegoeSemibold;
$SeSBIE: SegoeSemiboldIE;
$SeSL: SegoeSemilight;
$SeB: SegoeBold;
$SeBlack: SegoeBlack;
$SeL: SegoeLight;
$SeUI: Segoe UI;   

%extend_2 {
	margin: 0 4px;
	float: left;
	width: 21px;
    list-style-type:none;
}

#ajax-completetick{
    position:absolute;
    float:left;
    width:50px;
    height:50px;
    color:green;
    font-size:50px;
}
.pencilek{
float:right;
visibility:hidden;
color:$sukkucolor;
font-size:20px;
}
.tableId{
width:10%;
}
.tableName{
width:25%;
}
.tableBlank{
width:10%
}
.tablePrice{
width:8%;
}
.tableDelete{
width:3%;
}
input[type=text]{
height:20px;
font-family:Segoe UI;
padding:2px;
font-size:14px;
border:1px solid $sukkucolor;
width:90%;
text-align:center;
}

table td:hover div div.pencilek{
visibility:visible;
}

.icon{
margin-left: 5px; color: grey;font-size:20px;cursor:pointer
}
 body {
        .main-cont{
            width:1066px;
            margin: auto;
            .search-box{
                width:175px;
                float:left;
                margin-right:30px;
                border-bottom: 1px solid $black;
                margin-bottom:25px;
                input[type=text]{
                    border:none;
                    font-size:16px;
                    font-family: $SeUI;
                    float:left;
                    width:170px;
                    outline:none;
                }
            }
            .main-table{
                width:1066px;
                 thead th{
                    font-family:$SeUI;
                    
                    color:$sukkucolor;
                    text-align: center;
                    text-transform:uppercase;
                    font-weight:bold;
                    font-size:16px;
                    +.blank{
                        text-align:center;
                    }
                    .up{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                    .down{
                        color:$sukkugrey;
                        line-height:2em;
                    }
                }
                tbody td{
                    color:$black;
                    font-family:$SeUI;
                    font-size:14px;
height:33px;
                    text-align: center;
                    position:relative;
a{
                        cursor:pointer;
                        &:hover{text-decoration:none;}
                        
                    }
                    .trash{
                        color:$sukkucolor;
                        font-size:30px;
                    }
&.addoption{
color: #458B00;font-weight: bold;line-height: 25px;font-size:20px;cursor:pointer;
}
                    +.share{
                            color:green;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
                            cursor:pointer;
                            text-transform:uppercase;
                        }
                    +.take-out{
                            color:red;
                            font-size:10px;
                            font-weight:bold;
                            line-height:20px;
cursor:pointer;
                        text-transform:uppercase;
                    }
                }
       }
     }
 }
 

input[type=checkbox].css-checkbox {
	            display: none;
	                + label.css-label {
		            padding-left: 23px;
		            height: 18px;
		            line-height: 20px;
		            display: inline-block;
		            background-repeat: no-repeat;
		            background-position: 0 0;
		            font-size: 16px;
		            font-family: $SeUI;
		            float: left;
		            vertical-align: middle;
		            cursor: pointer;
                    margin-left:33px;
                    color:$sukkucolor;
	                }
	                &:checked + label.css-label {
		                background-position: 0 -18px;
	                    }
                }
label.css-label {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkCAYAAACE7WrnAAAACXBIWXMAAC4jAAAuIwF4pT92AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAIZJREFUeNrslEsKgDAMRF9UUPAMntxTutOFxk2FWgyC1A+SQEk2nUymzcjYd0qGKMgUVVTLRQzNysiBHMiBnt/+zZeW0ECDIygwA2XiFEt0ZweUspQoV2fT3K6RGtmsjxyyBlqgCboIMAEDMFpNj2afwvnRP7IET0N8aT/8auIamQ75LqN1AI8kF/pZX78gAAAAAElFTkSuQmCC');

user-select: none;
}

.title-payship{
font-weight: bold;font-family: Segoe UI;font-size:26px;margin-bottom: 10px;text-transform:uppercase;color:$sukkucolor;text-align:center;
}

