@using SukkuShop.Models
@model IEnumerable<string>
<ul id="shop-category">
    @foreach (var link in Model)
    {
        <li>
            @Html.RouteLink(link, new
            {
                controller = "Sklep", action = "Produkty", category = link, method = SortMethod.Nowości, page = 1,subcategory=(string)null
            },new
            {
                style = (link == ViewBag.Category ? "font-weight:bold" : "")
            })
    
        </li>
    }
</ul>