@using SukkuShop.Models
@model IEnumerable<string>
<ul id="shop-category">
    @foreach (var link in Model)
    {
        <li>
            @Html.ActionLink(link,MVC.Sklep.Produkty(link,null,(SortMethod)ViewBag.CurrentSortMethod),new
            {
                style = (link == ViewBag.Category ? "font-weight:bold" : "")
            })
    
        </li>
    }
</ul>