@model IEnumerable<string>

<ul class="sort-menu">
    @foreach (var link in Model)
    {
       
        <li>
            <div class="sort-box">@link
                <a href="@Url.RouteUrl(new
                         {
                             controller = "Sklep",
                             
                             action = "Produkty",
                             category = ViewBag.SelectedCategory,
                             method = link,
                             page = 1,
                             subcategory = ViewBag.SelectedSubCategory})">
                    <div class="sort-arrow"></div>
                </a>
                </div>
        </li>
    }
    <li><div class="sort-box">SORTUJ:</div></li>
</ul>