@*@using SukkuShop.Models
@model IEnumerable<string>
@*<ul class="subcategory-menu">
    @foreach (var link in Model)
    {
        <li>
            @Html.ActionLink(link, MVC.Sklep.Produkty((string)ViewBag.Category,link,(SortMethod)ViewBag.CurrentSortMethod), 
                new
                {
                    style = (link == ViewBag.SubCategory ? "font-weight:bold" : "")
                })
        </li>
        
    }
    <li>@Html.ActionLink("Wszystkie", MVC.Sklep.Produkty((string)ViewBag.Category, null, (SortMethod)ViewBag.CurrentSortMethod),
                new
                {
                    style = (ViewBag.SubCategory == null ? "font-weight:bold" : "")
                })</li>
</ul>*@*@
