@model HtmlString
@{
    ViewBag.Title = "Regulamin";
}
<style>
    h1,h2,h3,h4{font-size:25px;
        font-weight: bold;        
    }
    p {
        padding-bottom: 10px
    }
    strong{font-weight: bold !important}
</style>

<div style="width:1066px;margin:auto;font-family:Segoe UI">
    @Model
</div>


