@font-face {
  font-family: FootlightMTLight;
  src: url(../../fonts/FTLTLT.ttf); }
@font-face {
  font-family: FoglihtenPCS;
  src: url("../../fonts/FoglihtenPCS-068.eot?") format("eot"), url("../../fonts/FoglihtenPCS-068.woff") format("woff"), url("../../fonts/FoglihtenPCS-068.ttf") format("truetype"), url("../../fonts/FoglihtenPCS-068.svg#FoglihtenPCS-Petitecaps") format("svg");
  font-weight: normal;
  font-style: normal; }
.product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon img, .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon input, .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

.product-details-main-container {
  height: 450px;
  width: 1066px;
  margin: 60px auto 12px;
  padding-bottom: 60px;
  border-bottom: 1px solid #f89b1d;
  position: relative; }
  .product-details-main-container .product-promotion-label-img {
    width: 179px;
    height: 38px;
    background-color: green;
    font-family: Segoe Ui;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 38px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    z-index: 1000; }
  .product-details-main-container .product-details-img {
    width: 368px;
    height: 368px;
    margin: 0 73px 0 55px;
    float: left;
    position: relative; }
    .product-details-main-container .product-details-img img {
      width: 100%;
      height: 100%; }
    .product-details-main-container .product-details-img img.lupa {
      width: 119px;
      height: 119px;
      position: absolute;
      top: 126px;
      left: 126px;
      opacity: 0.8; }
    .product-details-main-container .product-details-img .product-category-label-img {
      padding: 0 20px;
      height: 38px;
      background-color: #f89b1d;
      font-family: Segoe Ui;
      font-size: 20px;
      color: white;
      text-align: center;
      line-height: 38px;
      margin: auto;
      left: 100px;
      bottom: 0;
      text-transform: uppercase; }
  .product-details-main-container .product-details-info-container {
    width: 415px;
    float: left; }
    .product-details-main-container .product-details-info-container .add-to-cart-animation-box {
      height: 11px; }
      .product-details-main-container .product-details-info-container .add-to-cart-animation-box .add-to-cart-animation {
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 15px; }
    .product-details-main-container .product-details-info-container hr.hr-orange {
      background-color: #f89b1d;
      height: 1px;
      border: 0;
      color: #f89b1d;
      border-color: #f89b1d; }
    .product-details-main-container .product-details-info-container .title-box {
      height: 48px;
      margin-bottom: 28px;
      font-size: 24px;
      font-family: FoglihtenPCS;
      text-transform: uppercase; }
    .product-details-main-container .product-details-info-container .price-box {
      margin-bottom: 10px; }
      .product-details-main-container .product-details-info-container .price-box .price-text {
        font-family: SegoeBlack;
        font-size: 28px;
        float: left;
        margin-right: 25px; }
      .product-details-main-container .product-details-info-container .price-box .gramature-text {
        font-family: SegoeLight;
        font-size: 24px;
        vertical-align: middle;
        line-height: 40px;
        color: gray; }
      .product-details-main-container .product-details-info-container .price-box .product-detail-price-before-discount {
        font-size: 16px;
        text-decoration: line-through; }
    .product-details-main-container .product-details-info-container .avaibility {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 10px; }
    .product-details-main-container .product-details-info-container .ask-for-product {
      font-size: 12px;
      color: black;
      font-family: SegoeLight;
      border-bottom: 1px solid black; }
      .product-details-main-container .product-details-info-container .ask-for-product:hover {
        text-decoration: none; }
    .product-details-main-container .product-details-info-container .quantity-box {
      height: 34px;
      font-size: 21px;
      color: black;
      margin-top: 24px;
      position: relative;
      font-family: SegoeLight; }
      .product-details-main-container .product-details-info-container .quantity-box .quanity-text {
        margin-right: 80px;
        float: left;
        position: absolute;
        bottom: 0; }
      .product-details-main-container .product-details-info-container .quantity-box input {
        width: 32px;
        height: 30px;
        border: 1px solid black;
        font-size: 21px;
        outline: none;
        float: left;
        text-align: center;
        margin-right: 9px;
        font-family: SegoeLight;
        margin-left: 123px; }
      .product-details-main-container .product-details-info-container .quantity-box .arrows-box {
        width: 34px;
        height: 34px;
        float: left; }
      .product-details-main-container .product-details-info-container .quantity-box .arrow-up-box {
        width: 34px;
        height: 19px;
        background-color: #f89b1d; }
      .product-details-main-container .product-details-info-container .quantity-box .arrow-down-box {
        width: 34px;
        height: 15px;
        background-color: #f89b1d; }
      .product-details-main-container .product-details-info-container .quantity-box .quantity-arrow-up {
        width: 0;
        height: 0;
        border-right: 7px solid transparent;
        border-bottom: 11px solid white;
        border-left: 7px solid transparent;
        background-color: transparent;
        cursor: pointer;
        margin: auto;
        padding-top: 3px;
        -moz-transform: scale(0.9999); }
      .product-details-main-container .product-details-info-container .quantity-box .quantity-arrow-down {
        width: 0;
        height: 0;
        border-right: 7px solid transparent;
        border-top: 11px solid white;
        border-left: 7px solid transparent;
        background-color: transparent;
        cursor: pointer;
        margin: auto;
        padding-top: 3px;
        -moz-transform: scale(0.9999); }
      .product-details-main-container .product-details-info-container .quantity-box .quanity-text-right {
        line-height: 34px;
        vertical-align: middle;
        float: left;
        margin-left: 14px; }
    .product-details-main-container .product-details-info-container .add-to-cart-button {
      margin-top: 24px;
      background-color: #f89b1d;
      height: 51px;
      width: 245px;
      margin-bottom: 5px; }
      .product-details-main-container .product-details-info-container .add-to-cart-button .add-to-cart-button-text {
        line-height: 51px;
        margin-left: 15px;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        margin-right: 9px;
        float: left;
        font-family: SegoeLight; }
      .product-details-main-container .product-details-info-container .add-to-cart-button .white-cart-icon {
        height: 27px;
        width: 34px;
        margin-top: 11px;
        background-image: url(../../Images/shop/carticonwhite.png);
        float: left; }
    .product-details-main-container .product-details-info-container .add-to-cart-button-gray {
      margin-top: 24px;
      height: 51px;
      width: 245px;
      margin-bottom: 5px;
      background-color: gray;
      cursor: default; }
      .product-details-main-container .product-details-info-container .add-to-cart-button-gray .add-to-cart-button-text {
        line-height: 51px;
        margin-left: 15px;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        margin-right: 9px;
        float: left;
        font-family: SegoeLight; }
      .product-details-main-container .product-details-info-container .add-to-cart-button-gray .white-cart-icon {
        height: 27px;
        width: 34px;
        margin-top: 11px;
        background-image: url(../../Images/shop/carticonwhite.png);
        float: left; }
    .product-details-main-container .product-details-info-container .details-info-text {
      font-family: SegoeLight;
      font-size: 14px;
      margin-top: 14px; }

.details-info-title {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 14px;
  margin-top: 14px;
  text-transform: uppercase; }

.product-details-list-container {
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .product-details-list-container .product-list-item-box {
    height: 191px;
    width: 135px;
    box-sizing: border-box;
    margin-bottom: 28px;
    margin-right: 34px;
    position: relative; }
    .product-details-list-container .product-list-item-box:hover {
      border: 2px solid #f89b1d;
      top: -2px;
      left: -2px; }
    .product-details-list-container .product-list-item-box:nth-child(4n) {
      margin-right: 0; }
    .product-details-list-container .product-list-item-box:last-child {
      margin-right: 0; }
    .product-details-list-container .product-list-item-box .product-list-item {
      top: 2px;
      left: 2px;
      height: 187px;
      width: 131px;
      box-sizing: border-box;
      position: absolute; }
      .product-details-list-container .product-list-item-box .product-list-item .product-list-item-textbox {
        height: 54px;
        position: relative;
        margin-top: 2px; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-textbox:before {
          position: absolute;
          background-color: #f7eee7;
          opacity: 0.8;
          content: '';
          height: 54px;
          width: 127px;
          bottom: 0; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-title {
          position: relative;
          padding: 5px 3px 10px;
          font-family: FootlightMTLight; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-price {
          position: absolute;
          font-size: 18px;
          font-family: FoglihtenPCS;
          float: left;
          bottom: 0;
          left: 3px; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-discount {
          color: green;
          text-align: right;
          position: absolute;
          font-size: 18px;
          font-family: FoglihtenPCS;
          margin-right: 5px;
          right: 3px;
          bottom: 0; }
      .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image {
        height: 127px;
        width: 127px;
        position: relative; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image img {
          position: absolute; }
        .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel {
          height: 32px;
          bottom: 0;
          position: absolute;
          width: 127px; }
          .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-info {
            float: left;
            font-size: 28px;
            line-height: 32px;
            position: absolute;
            left: 30px; }
          .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon {
            width: 32px;
            height: 32px;
            position: absolute;
            cursor: pointer; }
            .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon img:hover {
              opacity: 1; }
          .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon {
            width: 32px;
            height: 32px;
            position: absolute;
            right: 0; }
            .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon img:hover {
              opacity: 1; }
          .product-details-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel:before {
            position: absolute;
            background-color: white;
            opacity: 0.5;
            content: '';
            height: 32px;
            width: 127px;
            bottom: 0; }

