//colors
$color_tree_poppy_approx: #f89b1d;
$white: white;
$white_100: rgba(255, 255, 255, 1);
$color_merino_approx: #f7eee7;
$color_gray_approx: #818181;
$black:  black;
$color_kangaroo_approx: #c5cdbc;
$color_japanese_laurel_approx: green;
$gray: gray;

//fonts
$font_0: LucidaConsole;
$font_1: LucidaBright;
$font_2: FootlightMTLight;
$font_3: FoglihtenPCS;
$font_4: Microsoft PhagsPa;
$font_5: SegoeBlack;
$font_6: SegoeLight;
$font_7: SegoeBold;
$font_8: Segoe Ui;


@font-face {
    font-family: $font_1;
    src: url(../../fonts/licida_bright.ttf);
}

@font-face {
    font-family: $font_4;
    src: url(../../fonts/phagspa.ttf);
}

@font-face {
    font-family: $font_2;
    src: url(../../fonts/FTLTLT.ttf);
}

@font-face {
    font-family: $font_3;
    src: url(../../fonts/FoglihtenPCS.otf);
}
//@extend-elements
//original selectors
//.add-to-cart-icon img, .info-icon img, .add-to-cart-icon input
%extend_1 {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
}

.add-to-cart-info{
    float: left;
/* color: green; */
    font-size: 28px;
    line-height: 32px;
    /* z-index: 1000; */
    position: absolute;
    /* width: 63px; */
    /* margin: auto; */
    left: 30px;
}

//original selectors
//ul.shop-paginator li, ul.shop-paginator li.inner-paginator
%extend_2 {
	margin: 0 4px;
	float: left;
	width: 21px;
}

.selectedOpt{
    opacity:1;
    font-weight:bold;
}
@font-face {
	font-family: $font_0;
	src: url('../../fonts/lucida_console.eot');
	src: url('../../fonts/lucida_console.eot?#iefix') format('embedded-opentype'), url('../../fonts/lucida_console.svg#Lucida Console') format('svg'), url('../../fonts/lucida_console.woff') format('woff'), url('../../fonts/lucida_console.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.product-background {
	height: 752px;
	max-width: 1600px;
	margin: auto;
	position: relative;
	padding-top: 40px;
	img {
		position: absolute;
	}
}
.product-list-container {
	padding-top: 20px;
	width: 642px;
	margin-left: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.product-list-item-box {
	height: 191px;
	width: 135px;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	margin-bottom: 28px;
	margin-right: 34px;
	position: relative;
	&:hover {
		border: 2px solid $color_tree_poppy_approx;
		top: -2px;
		left: -2px;
	}
	&:nth-child(4n) {
		margin-right: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}


.product-list-item {
	top: 2px;
	left: 2px;
	height: 187px;
	width: 131px;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	position: absolute;
}
.product-list-item-image {
	height: 127px;
	width: 127px;
	position: relative;
	img {
		position: absolute;
	}
}
ul {
	&.subcategory-menu {
		margin: 0 auto;
		position: absolute;
		z-index: 100;
		li {
			margin-bottom: 20px;
                cursor:pointer;
				font-family: $font_4;
				font-size: 22px;
				color: $color_tree_poppy_approx;
				text-transform: uppercase;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.sort-menu {
		margin-bottom: -30px;
		li.sort-box {
			padding-right: 14px;
			display: inline;
			float: right;
			font-size: 16px;
			font-family: $font_4;
			color: $color_tree_poppy_approx;
			text-transform: uppercase;
			&:nth-child(5) {
				color: $color_gray_approx;
			}
			&:first-child {
				padding-right: 0;
			}
		}
	}
	&.top-panel li {
		height: 24px;
	}
	&.shop-paginator li {
		@extend %extend_2;
		&.inner-paginator {
			@extend %extend_2;
			&:before {
				position: absolute;
				background: $color_tree_poppy_approx;
				content: '';
				width: 21px;
				height: 21px;
			}
		}
		&:last-child {
			position: relative;
		}

			.paginator-box {
				line-height: 21px;
				vertical-align: middle;
				position: relative;
				font-family: $font_1;
				font-size: 13px;
				text-align: center;
				color: $white;
				text-decoration: none;
                cursor:pointer;
			}
			&:hover {
				color: $white;
			}
		
	}
}

.boldplz{
    font-weight:bold;
}

.top-panel-text-container {
	width: 127px;
	position: absolute;
	&:before {
		position: absolute;
		height: 24px;
		width: 127px;
		background-color: $white;
		opacity: 0.6;
		content: '';
		top: 0;
	}
}
.top-panel-text {
	position: relative;
	font-family: $font_0;
	line-height: 24px;
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 2px 2px 3px $white;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 2px 2px 3px $white_100;
	font-weight: bold;
}



.image-bottom-panel {
	height: 32px;
	bottom: 0;
	position: absolute;
	width: 127px;
	.add-to-cart-icon {
		width: 32px;
		height: 32px;
		position: absolute;
		cursor: pointer;
	}
	.info-icon {
		width: 32px;
		height: 32px;
		position: absolute;
		right: 0;
	}
	&:before {
		position: absolute;
		background-color: $white;
		opacity: 0.5;
		content: '';
		height: 32px;
		width: 127px;
		bottom: 0;
	}
}
.add-to-cart-icon {
	img {
		@extend %extend_1;
		&:hover {
			opacity: 1;
		}
	}
	input {
		@extend %extend_1;
	}
}
.product-list-item-textbox {
	height: 54px;
	position: relative;
	margin-top: 2px;
	&:before {
		position: absolute;
		background-color: $color_merino_approx;
		opacity: 0.8;
		content: '';
		height: 54px;
		width: 127px;
		bottom: 0;
	}
}
.product-title {
	position: relative;
	padding: 5px 3px 10px;
	font-family: $font_2;
}
.product-price {
	position: absolute;
	font-size: 18px;
	font-family: $font_3;
	float: left;
	bottom: 0;
	left: 3px;
}
.shop-nav-container {
	width: 1066px;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
}
#paginator {
	float: right;
	position: relative;
	left: -35%;
	ul.shop-paginator {
		position: relative;
		left: 50%;
	}
}
#sort-text {
	float: left;
}
.sort-arrow {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 11px solid $black;
	border-bottom: 7px solid transparent;
	float: right;
	background-color: transparent;
	cursor: pointer;
	opacity: 0.6;
	margin-top: 2px;
	margin-left: 8px;
	&:hover {
		opacity: 1;
	}
}
.price-arrow-box {
	float: right;
	display: block;
	width: 20px;
	height: 30px;
	margin-top: -3px;
}
.paging-arrow-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 11px solid $color_tree_poppy_approx;
	border-bottom: 8px solid transparent;
	float: right;
	background-color: transparent;
	cursor: pointer;
	margin-top: 2px;
	margin-right: 12px;
}
.paging-arrow-left {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 11px solid $color_tree_poppy_approx;
	border-bottom: 8px solid transparent;
	background-color: transparent;
	cursor: pointer;
	float: left;
	margin-top: 2px;
	margin-left: 12px;
}
.square-paginator {
	height: 4px;
	width: 3px;
	background-color: $color_kangaroo_approx;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 15px;
}
.product-discount {
	color: $color_japanese_laurel_approx;
	text-align: right;
	position: absolute;
	font-size: 18px;
	font-family: $font_3;
	margin-right: 5px;
	right: 3px;
	bottom: 0;
}


.info-icon img {
	@extend %extend_1;
	&:hover {
		opacity: 1;
	}
}
.flying-product-start {
	opacity: 0.7;
	position: absolute;
	height: 50px;
	width: 50px;
	z-index: 1031;
}
