@font-face {
  font-family: LucidaBright;
  src: url(../../fonts/lucida_bright.ttf); }
@font-face {
  font-family: Microsoft PhagsPa;
  src: url(../../fonts/phagspa.ttf); }
@font-face {
  font-family: FootlightMTLight;
  src: url(../../fonts/FTLTLT.ttf); }
@font-face {
  font-family: FoglihtenPCS;
  src: url(../../fonts/FoglihtenPCS.otf); }
.product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon img, .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon input, .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8; }

ul.shop-paginator li, ul.shop-paginator li.inner-paginator {
  margin: 0 4px;
  float: left;
  width: 21px; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

#no-products-angular {
  width: 1066px;
  margin: auto;
  text-align: right !important; }
  #no-products-angular .product-error-big, #no-products-angular .product-error-normal, #no-products-angular #product-error {
    text-align: right; }

.selectedOpt {
  opacity: 1;
  font-weight: bold; }

@font-face {
  font-family: LucidaConsole;
  src: url("../../fonts/lucida_console.eot");
  src: url("../../fonts/lucida_console.eot?#iefix") format("embedded-opentype"), url("../../fonts/lucida_console.svg#Lucida Console") format("svg"), url("../../fonts/lucida_console.woff") format("woff"), url("../../fonts/lucida_console.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.product-background {
  height: 752px;
  max-width: 1600px;
  margin: auto;
  position: relative;
  padding-top: 40px; }
  .product-background img {
    position: absolute; }
  .product-background img#big {
    z-index: -50; }
  .product-background .product-list-container {
    padding-top: 20px;
    width: 642px;
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .product-background .product-list-container .product-list-item-box {
      height: 191px;
      width: 135px;
      box-sizing: border-box;
      margin-bottom: 28px;
      margin-right: 34px;
      position: relative; }
      .product-background .product-list-container .product-list-item-box:hover {
        border: 2px solid #f89b1d;
        top: -2px;
        left: -2px; }
      .product-background .product-list-container .product-list-item-box:nth-child(4n) {
        margin-right: 0; }
      .product-background .product-list-container .product-list-item-box:last-child {
        margin-right: 0; }
      .product-background .product-list-container .product-list-item-box .product-list-item {
        top: 2px;
        left: 2px;
        height: 187px;
        width: 131px;
        box-sizing: border-box;
        position: absolute; }
        .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image {
          height: 127px;
          width: 127px;
          position: relative; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image img {
            position: absolute; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel {
            height: 32px;
            bottom: 0;
            position: absolute;
            width: 127px; }
            .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-info {
              float: left;
              font-size: 28px;
              line-height: 32px;
              position: absolute;
              left: 30px; }
            .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon {
              width: 32px;
              height: 32px;
              position: absolute;
              cursor: pointer; }
              .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon img:hover {
                opacity: 1; }
              .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .add-to-cart-icon input:focus {
                outline: none; }
            .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon {
              width: 32px;
              height: 32px;
              position: absolute;
              right: 0; }
              .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel .info-icon img:hover {
                opacity: 1; }
            .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-image .image-bottom-panel:before {
              position: absolute;
              background-color: white;
              opacity: 0.5;
              content: '';
              height: 32px;
              width: 127px;
              bottom: 0; }
        .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-textbox {
          height: 54px;
          position: relative;
          margin-top: 2px; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-textbox:before {
            position: absolute;
            background-color: #f7eee7;
            opacity: 0.8;
            content: '';
            height: 54px;
            width: 127px;
            bottom: 0; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-title {
            position: relative;
            padding: 5px 3px 10px;
            font-family: FootlightMTLight; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-price {
            position: absolute;
            font-size: 18px;
            font-family: FoglihtenPCS;
            float: left;
            bottom: 0;
            left: 3px; }
          .product-background .product-list-container .product-list-item-box .product-list-item .product-list-item-textbox .product-discount {
            color: green;
            text-align: right;
            position: absolute;
            font-size: 18px;
            font-family: FoglihtenPCS;
            margin-right: 5px;
            right: 3px;
            bottom: 0; }

ul {
  list-style-type: none;
  padding: 0; }
  ul.subcategory-menu {
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    list-style-type: none;
    padding: 0; }
    ul.subcategory-menu li {
      margin-bottom: 20px;
      cursor: pointer;
      font-family: Segoe UI;
      font-size: 22px;
      color: #f89b1d;
      text-transform: uppercase; }
      ul.subcategory-menu li:last-child {
        margin-right: 0; }
  ul.sort-menu li.sort-box {
    padding-right: 14px;
    display: inline;
    float: right;
    font-size: 16px;
    font-family: Segoe UI;
    color: #f89b1d;
    text-transform: uppercase; }
    ul.sort-menu li.sort-box:nth-child(5) {
      color: #818181; }
    ul.sort-menu li.sort-box:first-child {
      padding-right: 0; }
    ul.sort-menu li.sort-box #sort-text {
      float: left; }
    ul.sort-menu li.sort-box .price-arrow-box {
      float: right;
      display: block;
      width: 20px;
      height: 30px;
      margin-top: -3px; }
      ul.sort-menu li.sort-box .price-arrow-box .sort-arrow-up {
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-bottom: 11px solid black;
        border-left: 8px solid transparent;
        float: right;
        background-color: transparent;
        cursor: pointer;
        opacity: 0.6;
        margin-bottom: 1px;
        -moz-transform: scale(0.9999); }
        ul.sort-menu li.sort-box .price-arrow-box .sort-arrow-up:hover {
          opacity: 1; }
      ul.sort-menu li.sort-box .price-arrow-box .sort-arrow-down {
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-top: 11px solid black;
        border-left: 8px solid transparent;
        float: right;
        background-color: transparent;
        cursor: pointer;
        opacity: 0.6;
        margin-top: 1px;
        -moz-transform: scale(0.9999); }
        ul.sort-menu li.sort-box .price-arrow-box .sort-arrow-down:hover {
          opacity: 1; }
    ul.sort-menu li.sort-box .sort-arrow {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 11px solid black;
      border-bottom: 8px solid transparent;
      float: right;
      background-color: transparent;
      cursor: pointer;
      opacity: 0.6;
      margin-top: 2px;
      margin-left: 8px;
      -moz-transform: scale(0.9999); }
      ul.sort-menu li.sort-box .sort-arrow:hover {
        opacity: 1; }
  ul.top-panel {
    margin: 0; }
    ul.top-panel li {
      height: 24px; }
      ul.top-panel li .top-panel-text-container {
        width: 127px;
        position: absolute; }
        ul.top-panel li .top-panel-text-container:before {
          position: absolute;
          height: 24px;
          width: 127px;
          background-color: white;
          opacity: 0.6;
          content: '';
          top: 0; }
        ul.top-panel li .top-panel-text-container .top-panel-text {
          position: relative;
          font-family: LucidaConsole;
          line-height: 24px;
          vertical-align: middle;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          text-shadow: 2px 2px 3px white;
          text-shadow: 2px 2px 3px white;
          font-weight: bold; }
  ul.shop-paginator li.inner-paginator:before {
    position: absolute;
    background: #f89b1d;
    content: '';
    width: 21px;
    height: 21px; }
  ul.shop-paginator li:last-child {
    position: relative; }
  ul.shop-paginator li .paginator-box {
    line-height: 21px;
    vertical-align: middle;
    position: relative;
    font-family: LucidaBright;
    font-size: 13px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer; }
  ul.shop-paginator li:hover {
    color: white; }

.shop-nav-container {
  width: 1066px;
  margin: auto;
  position: relative;
  margin-bottom: 20px; }

#paginator {
  float: right;
  position: relative;
  left: -35%; }
  #paginator ul.shop-paginator {
    position: relative;
    left: 50%; }
    #paginator ul.shop-paginator .paging-arrow-right {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      float: right;
      background-color: transparent;
      cursor: pointer;
      margin-top: 2px;
      margin-right: 12px;
      -moz-transform: scale(0.9999); }
    #paginator ul.shop-paginator .paging-arrow-left {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 11px solid #f89b1d;
      border-bottom: 8px solid transparent;
      background-color: transparent;
      cursor: pointer;
      float: left;
      margin-top: 2px;
      margin-left: 12px;
      -moz-transform: scale(0.9999); }

