@model SukkuShop.Models.OrderCancelEmail
Content-Type: text/html; charset=utf-8

<a href="@Url.Action(MVC.Home.Index())">
    <div style="width:132px;height:188px;margin:auto">
        @Html.EmbedImage("/Content/Images/logo-header.png")
    </div>
</a>


<div style="color:orange;text-align: center;font-size:40px;font-family: Segoe UI;font-weight: bold">Anulowanie zamówienia</div>
<div style="color:black;text-align: center;font-size:40px;font-family:Segoe UI;margin-bottom: 20px">Anulowałeś swoje zamówienie o numerze @Model.Id</div>

<div style="color:black">Jeżeli nie jesteś właściwym adresatem tej wiadomości, zignoruj ją.</div>
<div style="color:black">Pozdrawiamy, <span style="color:orange;font-weight: bold">SUKKU.PL</span></div>