@model bool
@{
    ViewBag.Title = "Index";
}
<div class="details-container">
    <ul class="choice">
        <li class="selected">Dane osobowe</li>
        <li>historia zamowień</li>
    </ul>
    <div class="change-container">
        <div id="replace">
            @{Html.RenderAction(Model ? MVC.Konto.ChangeUserFirmaInfoViewModel() : MVC.Konto.ChangeUserInfoViewModel());}
        </div>
        <div id="pass-replace">
            @{ Html.RenderAction(MVC.Konto.ZmienHaslo()); }
        </div>
    </div>
</div>
@Styles.Render("~/Content/css/Konto/Details.css")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/Konto.js")
