@model SukkuShop.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Resetuj hasło";
}

<div class="resetuj-background">
    <h2>Resetuj hasło</h2>
    <img src="~/Content/Images/Panels/left.jpg" />
    <div class="resetuj-cont">
        <div id="replace">
            @{ Html.RenderPartial("_ResetujHasloPartial", Model); }
        </div>
    </div>
</div>
@Styles.Render("~/Content/css/Konto/Resetuj.min.css")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/Resetuj.min.js")
