article {
    width: 1066px;
    height: 710px;
    margin: auto;
}

.container {
    width: 355px;
    height: 355px;
    float: left;
}

.container .text-big {
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: SegoeSemibold;
    font-size: 58px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.container-check {
    width: 180px;
    height: 60px;
    margin: auto;
}

a .check {
    width: 180px;
    height: 60px;
    border: 3px solid #6d6c6c;
    font-family: SegoeSemibold;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #6d6c6c;
    line-height: 60px;
    vertical-align: middle;
}

a .check:hover { text-decoration: underline; }

.link-to-shop-container {
    width: 210px;
    height: 18px;
    margin-top: 100px;
    color: #f89b1d;
    text-decoration: none;
    float: right;
}

.link-to-shop-container:hover { border-bottom: 1px solid #f89b1d; }

a .shop-link {
    text-align: right;
    font-size: 18px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #f89b1d;
    border-bottom: 5px solid transparent;
    float: right;
    margin-left: 5px;
    margin-top: 3px;
}

a .container img:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}