@font-face { font-family: 'LucidaConsole'; src: url('../fonts/lucida_console.eot'); src: url('../fonts/lucida_console.eot?#iefix') format('embedded-opentype'), url('../fonts/lucida_console.svg#Lucida Console') format('svg'), url('../fonts/lucida_console.woff') format('woff'), url('../fonts/lucida_console.ttf') format('truetype'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'LucidaBright'; src: url('../fonts/lucida_bright.eot'); src: url('../fonts/lucida_bright.eot?#iefix') format('embedded-opentype'), url('../fonts/lucida_bright.svg#Lucida Bright') format('svg'), url('../fonts/lucida_bright.woff') format('woff'), url('../fonts/lucida_bright.ttf') format('truetype'); font-weight: normal; font-style: normal;}

@font-face {
    font-family: FootlightMTLight;
    src: url(../fonts/FTLTLT.ttf);
}

@font-face {
    font-family: FoglihtenPCS;
    src: url(../fonts/FoglihtenPCS.otf);
}
.products-container {
    width: 1066px;
    margin: auto;
}

.product-background {
    height: 752px;
    margin: auto;
    position: relative;
    padding-top: 40px;
}

.product-background img {
    position: absolute;
}


.product-list-container {
    padding-top: 20px;
    width: 815px;
    margin-left: 25%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content:flex-end;
}

.product-details-list-container {
    padding-top: 20px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list-item-box {
    height: 191px;
    width: 135px;
    box-sizing: border-box;
    margin-bottom: 28px;
    margin-right: 34px;
    position: relative;
}

.product-list-item {
    top: 2px;
    left: 2px;
    height: 187px;
    width: 131px;
    box-sizing: border-box;
    position: absolute

}

.product-list-item-box:hover {
    border: 2px solid #f89b1d;
    top: -2px;
    left: -2px;
}

.product-list-item-box:nth-child(5n)
 { margin-right: 0; }

.product-list-item-box:last-child {
     margin-right:  0; 
}
.product-list-item-image {
    height: 127px;
    width: 127px;
    position: relative;
}

.product-list-item-image img {
    position: absolute;
}
ul.top-panel li {
    height: 24px;

}

.top-panel-text-container {
    width: 127px;
    position: absolute;
}

.top-panel-text-container:before {
    position: absolute;
    height: 24px;
    width: 127px;
    background-color: white;
    opacity: 0.6;
    content: '';
    top: 0;
}

.top-panel-text {
    position: relative;
    font-family: LucidaConsole;
    line-height: 24px;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 3px #ffffff;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 1);
    font-weight: bold;
}


.image-bottom-panel {
    height: 32px;
    bottom: 0;
    position: absolute;
    width: 127px;
}

.image-bottom-panel .add-to-cart-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
}

.add-to-cart-icon img, .info-icon img, .add-to-cart-icon input {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.add-to-cart-icon img:hover, .info-icon img:hover { opacity: 1; }

.image-bottom-panel .info-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}

.image-bottom-panel:before {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    content: '';
    height: 32px;
    width: 127px;
    bottom: 0;
}


.product-list-item-textbox {
    height: 54px;
    position: relative;
    margin-top: 2px;
}

.product-list-item-textbox:before {
    position: absolute;
    background-color: #f7eee7;
    opacity: 0.8;
    content: '';
    height: 54px;
    width: 127px;
    bottom: 0;
}

.product-title {
    position: relative;
    padding: 5px 3px 10px;
    font-family: FootlightMTLight;
}

.product-price {
    position: absolute;
    font-size: 18px;
    font-family: FoglihtenPCS;
    float: left;
    bottom: 0;
    left: 3px;
}



.shop-nav-container {
   width: 1066px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

ul.subcategory-menu {
    margin: 0 auto;
    position: absolute;
    z-index: 100;
}

ul.subcategory-menu li {
    margin-bottom: 20px;
}

ul.subcategory-menu li a {
    font-family: Microsoft PhagsPa;
    font-size: 22px;
    color: #f89b1d;
    text-transform: uppercase;
}

ul.subcategory-menu li:last-child { margin-right: 0; }

#paginator ul.shop-paginator {
    position: relative;
    left: 50%;    
}

#paginator {
    float: right;
    position: relative;
    left: -40%;
}

ul.shop-paginator li, ul.shop-paginator li.inner-paginator {
    margin: 0 4px;
    float: left;
    width: 21px;
}

ul.shop-paginator li.inner-paginator:before {
    position: absolute;
    background: #f89b1d;
    content: '';
    width: 21px;
    height: 21px;
}
ul.shop-paginator li:last-child {
    position: relative;
}

ul.shop-paginator li a .paginator-box {
    line-height: 21px;
    vertical-align: middle;
    position: relative;
    font-family: LucidaBright;
    font-size: 13px;
    text-align: center;
    color: white;
    text-decoration: none;
}

ul.shop-paginator li a:hover { color: white; }
    


ul.sort-menu { margin-bottom: -30px; }

ul.sort-menu li.sort-box {
    padding-right: 14px;
    display: inline;
    float: right;
    font-size: 16px;
    font-family: Microsoft PhagsPa;
    color: #f89b1d;
    text-transform: uppercase;
}

#sort-text { float: left; }

ul.sort-menu li.sort-box:nth-child(5) { color: #818181; }

ul.sort-menu li.sort-box:first-child { padding-right: 0; }

.sort-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 11px solid black;
    border-bottom: 7px solid transparent;
    float: right;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.6;
    margin-top: 2px;
    margin-left: 8px;
}

.sort-arrow:hover, .sort-arrow-down:hover, .sort-arrow-up:hover { opacity: 1; }

.price-arrow-box {
    float: right;
    display: block;
    width: 20px;
    height: 30px;
    margin-top: -3px;
}

.sort-arrow-up {
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-bottom: 11px solid black;
    border-left: 7px solid transparent;
    float: right;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.6;
    margin-bottom: 1px;
}

.sort-arrow-down {
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-top: 11px solid black;
    border-left: 7px solid transparent;
    float: right;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.6;
    margin-top: 1px;
}

.paging-arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 11px solid #f89b1d;
    border-bottom: 8px solid transparent;
    float: right;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 12px;
}

.paging-arrow-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 11px solid #f89b1d;
    border-bottom: 8px solid transparent;
    background-color: transparent;
    cursor: pointer;
    float:left;
    margin-top: 2px;
    margin-left: 12px;
}

.square-paginator{
    height: 4px; 
    width: 3px; 
    background-color: #c5cdbc;
    float: left;
    margin-right: 2px;
    margin-left: 2px;
    margin-top:15px;
}

.product-discount {
    color: green;
    text-align: right;
    position: absolute;
    font-size: 18px;
    font-family: FoglihtenPCS;
    margin-right: 5px;
    right: 3px;
    bottom: 0;
}

.product-details-main-container {
    width: 1066px;
    margin: 60px auto 12px;
    padding-bottom: 60px;
    border-bottom: 1px solid #f89b1d;
    position: relative;
}

.product-details-img {
    width: 368px;
    height: 368px;
    margin: 36px 73px 0 55px;
    float:left;
    position: relative
}

.product-details-img img {
    width: 100%;
    height: 100%;
}

.product-details-info-container {
    width: 415px;
    float: left;
}

.product-details-info-container .title-box {
    height: 48px;
    margin-bottom: 28px;
    font-size: 24px;
    font-family: FoglihtenPCS;
    text-transform: uppercase
}


.product-details-info-container .price-box {
    margin-bottom: 10px;
}

.product-details-info-container .price-box .price-text {
    font-family: SegoeBlack;
    font-size: 28px;
    float: left;
    margin-right: 25px
}

.product-details-info-container .price-box .gramature-text {
    font-family: SegoeLight;
    font-size: 24px;
    vertical-align: middle;
    line-height: 28px;
    color: gray;
}

.product-details-info-container .avaibility {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-details-info-container .ask-for-product {
    font-size: 12px;
    color: black;
    font-family: SegoeLight;
    border-bottom: 1px solid black;
}

.product-details-info-container .ask-for-product:hover {
    text-decoration: none;
}

.product-details-info-container .quantity-box {
    height: 34px;
    font-size: 21px;
    color: black;
    margin-top: 24px;
    position: relative;
    font-family: SegoeLight;
}

.quantity-box .quanity-text {
    margin-right: 80px;
    float: left;
    position: absolute;
    bottom: 0;
}

.quantity-box input {
    width: 32px;
    height: 30px;
    border: 1px solid black;
    font-size: 21px;
    outline: none;
    float: left;
    text-align: center;
    margin-right: 9px;
    font-family: SegoeLight;
    margin-left: 123px;
}

.quantity-box .arrows-box {
    width: 34px;
    height: 34px;
    float: left;
}

.quantity-box .arrow-up-box {
    width: 34px;
    height: 19px;
    background-color: #f89b1d;
}

.quantity-box .arrow-down-box {
    width: 34px;
    height: 15px;
    background-color: #f89b1d;
}


.quantity-box .quantity-arrow-up {
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-bottom: 11px solid white;
    border-left: 7px solid transparent;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    padding-top: 3px;
}

.quantity-box .quantity-arrow-down {
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-top: 11px solid white;
    border-left: 7px solid transparent;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
        padding-top: 3px;
}

.quantity-box .quanity-text-right {
    line-height: 34px;
    vertical-align: middle;
    float: left;
    margin-left: 14px;
}

.product-details-info-container .add-to-cart-button {
    margin-top: 24px;
    background-color: #f89b1d;
    height: 51px;
    width: 245px;
    margin-bottom: 5px 
}

.product-details-info-container .add-to-cart-button-gray {
    margin-top: 24px;
    height: 51px;
    width: 245px;
    margin-bottom: 5px;
    background-color: gray;
    cursor: default
}



.add-to-cart-button-text {
    line-height: 51px;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-right: 9px;
    float: left;
    font-family: SegoeLight
}

.white-cart-icon {
    height: 27px;
    width: 34px;
    margin-top: 11px;
    background-image: url(../Images/shop/carticonwhite.png);
    float:left;
}

hr.hr-orange {
    background-color: #f89b1d;
    height: 1px;
    border: 0;
    color: #f89b1d;
    border-color: #f89b1d;
}


.details-info-title{
    font-family: SegoeBold;
    font-size: 14px;
    margin-top: 14px;
    text-transform: uppercase;
}

.product-details-info-container .details-info-text {
    font-family: SegoeLight;
    font-size: 14px;
    margin-top: 14px;
}

.product-category-label-img {
    width: 179px;
    height: 38px;
    background-color: #f89b1d;
    font-family: Segoe Ui;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 38px;
    margin: auto;
    position: absolute;
    left: 100px;
    bottom: 0;
    text-transform: uppercase
}

.product-promotion-label-img {
    width: 179px;
    height: 38px;
    background-color: green;
    font-family: Segoe Ui;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 38px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    z-index: 1000;
}

img.lupa {
    width: 119px;
    height: 119px;
    position: absolute;
    top: 126px;
    left: 126px;
    opacity: 0.8;
}

.flying-product-start {
    opacity: 0.7;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1031
}

.product-detail-price-before-discount {
    font-size: 16px;
    text-decoration: line-through;
}

.add-to-cart-animation {
    font-size: 11px;
    color: green;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.add-to-cart-animation-box {
    height: 11px;
}
