table.cart-table tr th, table.cart-table tr td {
  width: 177px;
  text-align: center;
  vertical-align: middle; }

table.cart-table tr th:first-child, table.cart-table tr td:first-child {
  width: 535px;
  text-align: left;
  position: relative; }

.cart-container {
    width: 1066px;
    margin: auto;
}

.cart-title {
    font-size: 24px;
    font-family: Segoe UI;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 36px;
    padding-top: 20px;
    color: #f89b1d;
}

.cart-order-steps {
    font-family: Segoe UI;
    color: #f89b1d;
    padding: 0 0 32px;
    border-bottom: 1px solid #f89b1d;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 23px;
}

ul.cart-order-steps li {
    display: inline;
    margin-right: 81px;
}

ul.cart-order-steps li.selected { font-weight: bold; }

table.cart-table {
  font-family: SegoeLight;
  color: black;
  margin-bottom: 20px; }
table.cart-table tr th {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f89b1d; }
table.cart-table tr th:last-child {
      text-align: right; }
table.cart-table tr td:last-child {
    text-align: right; }
table.cart-table tbody tr td {
    padding: 20px 0; }
table.cart-table tbody tr td img {
      height: 136px;
      width: 136px;
      float: left;
      border: 2px solid #f89b1d; }
.products-price-summary {
    word-spacing: 50px;
	font-family: SegoeLight;
font-size: 18px;
text-align: right;
text-transform: uppercase;
margin-bottom: 20px;

}
.middle-box {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.main-line {
    margin-top: -15px;
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}
.description-line {
    font-family: SegoeLight;
    font-size: 14px;
}
.description-box {
    width: 75%;
    float: left;
}
.cost {
    float: right;
    font-family: SegoeLight;
    font-size: 14px;
}
.bottom-box {
  margin-top: 15px;
  border-top: 1px solid #f89b1d;
  border-bottom: 1px solid #f89b1d;
}
.bottom-summary-box {
    float: right;
    margin-bottom: 50px;
}
.cost-summary {
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
.cost-summary-price {
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: bold;
    color: #f89b1d;
    float: right;
    margin-left: 30px;
}