@{
    ViewBag.Title = "Index";
}
<div class="cont">
    <div class="order-cont">Zamówienia</div>
    <input type="radio" name="linechart" id="days" class="css-checkbox" checked>
    <label for="days" class="css-label">Ostatnie 14 dni</label>
    <input type="radio" name="linechart" id="months" class="css-checkbox">
    <label for="months" class="css-label">Ostatnie 12 miesięcy</label>
    <div id="canvas-line-wrapper">
        <canvas id="ordersChart" width="800" height="400" style="margin:auto;display: block;"></canvas>
    </div>
</div>


<div class="cont">
    <div id="titlepie">Top 10 zamawianych produktów</div>
    <ul class="month-list">
        <li id="left"></li>
        <li id="current"></li>
        <li id="right"></li>
    </ul>
    
    <div id="canvas-wrapper">
        <canvas id="top5productsChart" width="800" height="400" style="margin:auto;display: block;"></canvas>
    </div>
</div>

@Styles.Render("~/Areas/Admin/Content/css/Statistics.min.css")
@Scripts.Render("~/Scripts/Chart.min.js")
@Scripts.Render("~/Areas/Admin/Scripts/StatisticsAdmin.min.js")