.cart-container table.cart-table tr th, .cart-container table.cart-table tr td {
  width: 174px;
  text-align: center;
  vertical-align: middle; }

.cart-container table.cart-table tr th:first-child, .cart-container table.cart-table tr td:first-child {
  width: 535px;
  text-align: left;
  position: relative; }

.cart-container {
  width: 1066px;
  margin: auto; }
  .cart-container #cart-button-bottom {
    margin-top: 25px; }
    .cart-container #cart-button-bottom #triangle-right-big {
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-left: 15px solid #f89b1d;
      border-bottom: 11px solid transparent;
      float: right;
      margin-left: 25px;
      margin-top: 23px; }
    .cart-container #cart-button-bottom #triangle-left-big {
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-right: 15px solid #f89b1d;
      border-bottom: 11px solid transparent;
      float: left;
      margin-top: 23px;
      margin-right: 25px; }
  .cart-container .cart-title {
    font-size: 24px;
    font-family: Segoe UI;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 36px;
    padding-top: 20px;
    color: #f89b1d; }
  .cart-container .notfound-text-big {
    font-size: 60px;
    font-family: Segoe UI;
    color: #f89b1d;
    text-align: center;
    margin-bottom: 10px; }
  .cart-container .notfound-text-normal {
    text-align: center;
    font-size: 42px;
    color: black;
    font-family: Calibri;
    margin-bottom: 10px; }
  .cart-container .notfound-backlink {
    text-align: center; }
    .cart-container .notfound-backlink a {
      text-decoration: none;
      color: #f89b1d;
      font-weight: bold;
      font-family: Segoe UI; }
  .cart-container .products-price-summary {
    font-family: SegoeLight;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    float: right; }
  .cart-container table.cart-table {
    font-family: SegoeLight;
    color: black;
    margin-bottom: 20px; }
    .cart-container table.cart-table tr th {
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #f89b1d; }
      .cart-container table.cart-table tr th:last-child {
        text-align: right; }
    .cart-container table.cart-table tr td:last-child {
      text-align: right; }
    .cart-container table.cart-table tbody tr td {
      padding: 20px 0; }
      .cart-container table.cart-table tbody tr td img {
        height: 136px;
        width: 136px;
        float: left;
        border: 2px solid #f89b1d; }
      .cart-container table.cart-table tbody tr td .custom-product-text-container {
        width: 384px;
        float: left;
        position: absolute;
        display: table;
        left: 150px;
        height: 130px; }
        .cart-container table.cart-table tbody tr td .custom-product-text-container p {
          display: table-cell;
          vertical-align: middle; }
      .cart-container table.cart-table tbody tr td .cart-delete-text {
        font-size: 12px;
        text-decoration: underline;
        color: red;
        position: absolute;
        bottom: 20px;
        left: 150px;
        cursor: pointer; }
      .cart-container table.cart-table tbody tr td .quantity-box {
        width: 150px;
        margin: auto; }
        .cart-container table.cart-table tbody tr td .quantity-box #quantity_counter {
          width: 24px;
          height: 24px;
          border: 1px solid black;
          font-size: 15px;
          outline: none;
          float: left;
          text-align: center;
          font-family: SegoeLight;
          margin-right: 4px;
          vertical-align: middle;
          line-height: 24px; }
        .cart-container table.cart-table tbody tr td .quantity-box .arrows-box {
          width: 24px;
          height: 24px;
          float: left; }
        .cart-container table.cart-table tbody tr td .quantity-box .arrow-up-box {
          width: 24px;
          height: 12px;
          background-color: #f89b1d;
          padding-bottom: 3px; }
        .cart-container table.cart-table tbody tr td .quantity-box .arrow-down-box {
          width: 24px;
          height: 12px;
          background-color: #f89b1d;
          padding-bottom: 1px; }
        .cart-container table.cart-table tbody tr td .quantity-box .quantity-arrow-up {
          width: 0;
          height: 0;
          border-right: 7px solid transparent;
          border-bottom: 11px solid white;
          border-left: 7px solid transparent;
          background-color: transparent;
          cursor: pointer;
          margin: auto;
          padding-top: 2px; }
        .cart-container table.cart-table tbody tr td .quantity-box .quantity-arrow-down {
          width: 0;
          height: 0;
          border-right: 7px solid transparent;
          border-top: 11px solid white;
          border-left: 7px solid transparent;
          background-color: transparent;
          cursor: pointer;
          margin: auto; }
        .cart-container table.cart-table tbody tr td .quantity-box .quanity-text-right {
          line-height: 24px;
          vertical-align: middle;
          float: left;
          margin-right: 10px; }

