//colors
$color_tree_poppy_approx: #f89b1d;
$black: black;
$color_red_approx: red;
$white:  white;

//fonts
$font_0: Segoe UI;
$font_1: SegoeLight;
$font_2: SegoeBold;

//@extend-elements
//original selectors
//table.cart-table tr th, table.cart-table tr td
%extend_1 {
	width: 174px;
	text-align: center;
	vertical-align: middle;
}

//original selectors
//table.cart-table tr th:first-child, table.cart-table tr td:first-child
%extend_2 {
	width: 535px;
	text-align: left;
	position: relative;
}

.cart-container {
	width: 1066px;
	margin: auto;
    #cart-button-bottom{
        margin-top:25px;
        #triangle-right-big {
	        width: 0;
	        height: 0;
	        border-top: 11px solid transparent;
	        border-left: 15px solid $color_tree_poppy_approx;
	        border-bottom: 11px solid transparent;
	        float: right;
	        margin-left: 25px;
	        margin-top: 23px;
-moz-transform: scale(.9999);
        }
        #triangle-left-big {
	        width: 0;
	        height: 0;
	        border-top: 11px solid transparent;
	        border-right: 15px solid $color_tree_poppy_approx;
	        border-bottom: 11px solid transparent;
	        float: left;
	        margin-top: 23px;
	        margin-right: 25px;
-moz-transform: scale(.9999);
        }
    }
    .cart-title {
	    font-size: 24px;
	    font-family: $font_0;
	    font-weight: bold;
	    text-transform: uppercase;
	    margin: 20px 0 36px;
	    padding-top: 20px;
	    color: $color_tree_poppy_approx;
    }
    .notfound-text-big {
        font-size: 60px;
        font-family: Segoe UI;
        color: #f89b1d;
        text-align: center;
        margin-bottom: 10px; 
    }
    .notfound-text-normal {
        text-align: center;
        font-size: 42px;
        color: black;
        font-family: Calibri;
        margin-bottom: 10px; 
    }
    .notfound-backlink {
        text-align: center; 
        a {
            text-decoration: none;
            color: #f89b1d;
            font-weight: bold;
            font-family: Segoe UI; 
        }
    }
    .products-price-summary {
	    font-family: $font_1;
	    font-size: 18px;
	    text-align: right;
	    text-transform: uppercase;
	    float: right;
    }
    table.cart-table {
	    font-family: $font_1;
	    color: $black;
	    margin-bottom: 20px;
	    tr {
		    th {
			    font-size: 14px;
			    text-transform: uppercase;
			    padding-bottom: 30px;
			    margin-bottom: 30px;
			    border-bottom: 1px solid $color_tree_poppy_approx;
			    @extend %extend_1;
			    &:last-child {
				    text-align: right;
			    }
			    &:first-child {
				    @extend %extend_2;
			    }
		    }
		    td {
			    @extend %extend_1;
			    &:last-child {
				    text-align: right;
			    }
			    &:first-child {
				    @extend %extend_2;
			    }
		    }
	    }
	    tbody tr td {
		    padding: 20px 0;
		    img {
			    height: 136px;
			    width: 136px;
			    float: left;
			    border: 2px solid $color_tree_poppy_approx;
		    }
            .custom-product-text-container {
	            width: 384px;
	            float: left;
	            position: absolute;
	            display: table;
	            left: 150px;
	            height: 130px;
	            p {
		            display: table-cell;
		            vertical-align: middle;
	            }
            }
            .cart-delete-text {
	            font-size: 12px;
	            text-decoration: underline;
	            color: $color_red_approx;
	            position: absolute;
	            bottom: 20px;
	            left: 150px;
	            cursor: pointer;
            }
            .quantity-box {
	            width: 150px;
	            margin: auto;
	            #quantity_counter {
		            width: 24px;
		            height: 24px;
		            border: 1px solid $black;
		            font-size: 15px;
		            outline: none;
		            float: left;
		            text-align: center;
		            font-family: $font_1;
		            margin-right: 4px;
		            vertical-align: middle;
		            line-height: 24px;
	            }
	            .arrows-box {
		            width: 24px;
		            height: 24px;
		            float: left;
	            }
	            .arrow-up-box {
		            width: 24px;
		            height: 12px;
		            background-color: $color_tree_poppy_approx;
		            padding-bottom: 3px;
	            }
	            .arrow-down-box {
		            width: 24px;
		            height: 12px;
		            background-color: $color_tree_poppy_approx;
		            padding-bottom: 1px;
	            }
	            .quantity-arrow-up {
		            width: 0;
		            height: 0;
		            border-right: 7px solid transparent;
		            border-bottom: 11px solid $white;
		            border-left: 7px solid transparent;
		            background-color: transparent;
		            cursor: pointer;
		            margin: auto;
		            padding-top: 2px;-moz-transform: scale(.9999);
	            }
	            .quantity-arrow-down {
		            width: 0;
		            height: 0;
		            border-right: 7px solid transparent;
		            border-top: 11px solid $white;
		            border-left: 7px solid transparent;
		            background-color: transparent;
		            cursor: pointer;
		            margin: auto;-moz-transform: scale(.9999);
	            }
	            .quanity-text-right {
		            line-height: 24px;
		            vertical-align: middle;
		            float: left;
		            margin-right: 10px;
	            }
            }
	    }
    }
}




