//colors
$color_tree_poppy_approx: #f89b1d;
$black: black;

//fonts
$font_0: Segoe UI;
$font_1: Calibri;

.notfound-text-big {
	font-size: 60px;
	font-family: $font_0;
	color: $color_tree_poppy_approx;
	text-align: center;
	margin-bottom: 10px;
}
.notfound-text-normal {
	text-align: center;
	font-size: 42px;
	color: $black;
	font-family: $font_1;
	margin-bottom: 10px;
}
.notfound-backlink {
	text-align: center;
	a {
		text-decoration: none;
		color: $color_tree_poppy_approx;
		font-weight: bold;
		font-family: $font_0;
	}
}
.center {
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	position: absolute;
	height: 200px;
}