//colors
$sukkuorange: #f89b1d;
$black: black;

//fonts
$SeUI: Segoe UI;
$Calbr: Calibri;


.center {
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	position: absolute;
	height: 200px;
    .notfound-text-big {
	    font-size: 60px;
	    font-family: $SeUI;
	    color: $sukkuorange;
	    text-align: center;
	    margin-bottom: 10px;
    }
    .notfound-text-normal {
	    text-align: center;
	    font-size: 42px;
	    color: $black;
	    font-family: $Calbr;
	    margin-bottom: 10px;
    }
    .notfound-backlink {
	    text-align: center;
	    a {
		    text-decoration: none;
		    color: $sukkuorange;
		    font-weight: bold;
		    font-family: $SeUI;
	    }
    }
}