//colors
$sukkucolor: #f89b1d;
$black: black;

//fonts
$SeUI: Segoe UI;
$Calibri: Calibri;

%text-extend{
    text-align: center;
	margin-bottom: 10px;
}

.order-submitted-number {
	font-size: 60px;
	font-family: $SeUI;
	color: $sukkucolor;
	@extend %text-extend;
}
.order-submitted-text1 {
	font-size: 42px;
	color: $black;
	font-family: $Calibri;
	@extend %text-extend;
}

.order-submitted-text2 {
	font-size: 42px;
	color: $sukkucolor;
	font-family: $Calibri;
	@extend %text-extend;
}
.notfound-backlink {
	@extend %text-extend;
	a {
		text-decoration: none;
		color: $sukkucolor;
		font-family: $SeUI;
	}
}